/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@font-face {
    font-family: 'Igra Sans';
    src: url("../fonts/IgraSans.eot");
    src: local('Igra Sans'), local('IgraSans'), url("../fonts/IgraSans.eot?#iefix") format('embedded-opentype'), url("../fonts/IgraSans.woff") format('woff'), url("../fonts/IgraSans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Fonts size variables
$size_xxxs: 0.9375em; // 15
$size_xxs: 1.0625em; // 17
$size_xs: 1.25em; // 20
$size_s: 1.375em; // 22
$size_m: 1.5em;
$size_l: 1.625em;
$size_xl: 1.75em;
$size_xxl: 3.25em;
$size_xxxl: 7.5em;

// Размер кубиков
$quat_size: 5.88em;
$quat_size_sm: 2.6em;

// Icon
$icomoon-font-family: "bsch" !default;
$icomoon-font-path: "../fonts" !default;

$icon_doc: "\e908";
$icon_trangle: "\e907";
$icon_check: "\e904";
$icon_phone: "\e905";
$icon_check-square: "\e906";
$icon_facebook: "\e900";
$icon_instagram: "\e901";
$icon_telegram: "\e902";
$icon_whatsapp: "\e903";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?birnkt") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?birnkt") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?birnkt##{$icomoon-font-family}") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon_"],
[class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_doc {
    &:before {
        content: $icon_doc;
    }
}

.icon_trangle {
    &:before {
        content: $icon_trangle;
    }
}

.icon_check {
    &:before {
        content: $icon_check;
    }
}

.icon_phone {
    &:before {
        content: $icon_phone;
    }
}

.icon_check-square {
    &:before {
        content: $icon_check-square;
    }
}

.icon_facebook {
    &:before {
        content: $icon_facebook;
    }
}

.icon_instagram {
    &:before {
        content: $icon_instagram;
    }
}

.icon_telegram {
    &:before {
        content: $icon_telegram;
    }
}

.icon_whatsapp {
    &:before {
        content: $icon_whatsapp;
    }
}

@import 'mixins/mixin';
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'core/section';
@import './vendor/slick';
@import './vendor/modal';

@import "./component/firstScreen";
@import "./component/homeThumbs";
@import "./component/homeSlider";
@import "./component/programs";
@import "./component/programsList";
@import "./component/programsInfo";
@import "./component/parthnersLine";
@import "./component/campusPlace";
@import "./component/campusDescr";
@import "./component/campusSlider";
@import "./component/programPage";
@import "./component/programDetails";
@import "./component/programAbout";
@import "./component/teachersList";
@import "./component/programSteps";

.rating {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: transparent;
    overflow: hidden;

    &__full {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #FFC700;

        &:before {
            -webkit-text-stroke: 1px #FFC700;
            text-stroke: 1px #FFC700;
        }
    }

    &__full,
    &__stars {
        &:before {
            content: "\2605\2605\2605\2605\2605";
            font-size: 0.98em;
            letter-spacing: 0.62em;

            @media (min-width: 768px) {
                font-size: 1.1em;
            }
        }
    }

    &__stars {
        &:before {
            -webkit-text-stroke: 1px #FFC700;
            text-stroke: 1px #FFC700;
        }
    }
}

.programReview {
    padding: 3.2em 0;

    @media (min-width: 768px) {
        padding: 3em 0;
    }

    .section {
        &__title {
            margin-bottom: 0.9em;
            @media (min-width: 768px) {
                margin-bottom: 1em;
            }
            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
        }

    }

    &__content {
        @media (min-width: 768px) {
            padding-left: 16.2em;
            display: flex;
        }
    }

    &__left {
        @media (min-width: 768px) {
            flex: none;
            width: 21em;
            margin-right: 3.7em;
        }
    }

    &__stats {}

    &__full {
        margin-bottom: 1.8em;
        float: left;

        @media (min-width: 768px) {
            display: flex;
            margin-bottom: 1.8em;
        }
    }

    &__total {
        font-size: 2.5em;
        margin-bottom: 0.6em;
        margin-right: 1.2em;

        @media (min-width: 768px) {
            margin-right: 0.5em;
            margin-bottom: 0;
        }
    }

    &__rate {
        .rating {
            &__full,
            &__stars {
                &:before {
                    font-size: 1.06em;
                    letter-spacing: 0.36em;

                    @media (min-width: 768px) {
                        font-size: 1.3em;
                    }

                }
            }

        }

    }

    &__label {
        color: rgba(29, 29, 27, 0.5);
        margin-bottom: 0.2em;

        @media (min-width: 768px) {
            margin-bottom: 0.3em;
        }
    }

    &__lines {
        margin-top: -0.2em;
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }

    &__line {
        display: flex;
        align-items: center;
        padding-left: 0.3em;
        margin-bottom: 0.3em;

        @media (min-width: 768px) {
            margin-bottom: 0.8em;
        }
    }

    &__data {
        color: rgba(29, 29, 27, 0.5);
        min-width: 1.5em;
    }

    &__progress {
        position: relative;
        width: 7.2em;
        height: 0.44em;
        background: rgba(0, 110, 255, 0.1);
        margin-right: 0.9em;

        @media (min-width: 768px) {
            width: 13em;
        }

        span {
            display: block;
            background: #FFC700;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }

    &__right {
        padding-top: 3.3em;
        margin: 0 -1.1em;

        @media (min-width: 768px) {
            padding-top: 8.8em;
            max-width: 47.2em;
            margin: 0;
        }

        @media (max-width: 767px) {
            position: relative;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: $quat_size_sm;
                height: $quat_size_sm;
                background: $color_withe;
            }

            &:before {
                bottom: -0.6em;
                width: $quat_size_sm*2;
                left: 0;
            }

            &:after {
                left: $quat_size_sm*2;
                bottom: -3.2em;
            }
        }
    }

    &__list {
        position: relative;

        @media (min-width: 768px) {
            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -$quat_size;
                right: 0;
                background: $color_withe;
                width: $quat_size;
                height: $quat_size;
            }

            &:before {
                width: $quat_size*2;

            }

            &:after {
                right: $quat_size*2;
                top: -$quat_size*2;
            }
        }

        &.slick-initialized {
            .slick-track {
                display: flex;
            }
        }
    }

    &__plate {
        margin-bottom: 1.3em;

        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            margin-bottom: 2.6em;
        }

        .slick-initialized & {
            display: flex;
            height: auto;
            flex-direction: column;
        }
    }

    &__photo {
        flex: none;
        width: 5.15em;
        height: 5.15em;
        box-shadow: 0.3em 0.3em 0 #3D3098;
        margin-bottom: -2em;
        margin-left: 1.1em;
        position: relative;

        @media (min-width: 768px) {
            margin: 1.9em 1.9em 0 0;
            width: 6.25em;
            height: 6.25em;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        background: $color_withe;
        padding: 4.2em 2.1em 2.6em 1.1em;
        flex-grow: 1;

        @media (min-width: 768px) {
            flex-grow: 0;
            padding: 2.4em 3em 2.4em 2em;
        }
    }

    &__name {
        font-family: $second_font_family;
        font-size: 1.25em;
        margin-bottom: 0.4em;

        @media (min-width: 768px) {
            font-size: 1.47em;
            margin-bottom: 0.1em;
        }
    }

    &__date {
        color: rgba(29, 29, 27, 0.5);
        margin-bottom: 0.4em;

        @media (min-width: 768px) {
            font-size: $size_xxxs;
            margin-bottom: 1em;
        }
    }

    &__grade {
        padding-left: 0.1em;
        margin-bottom: 1.6em;
        display: flex;
        align-items: center;
    }

    &__count {
        color: rgba(29, 29, 27, 0.5);
        font-size: 0.85em;
        margin-left: 0.3em;
        line-height: 1;
    }

    &__text {
        color: rgba(29, 29, 27, 0.5);
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: $size_xxs;
        }
    }
}

.programOrder {
    padding: 2.2em 0 4.2em;
    margin: 0;

    @media (min-width: 768px) {
        padding: 3.9em 0;
        margin: 0 0 4.4em;
    }

    .section {
        &__title {
            font-size: 1.65em;
            margin-bottom: 0.8em;

            @media (min-width: 768px) {
                font-size: 1.85em;
                margin-bottom: 0.7em;
            }
        }

    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
            padding-left: 16.3em;
            max-width: 88em;
            width: 100%;
        }
    }

    &__left {
        flex: none;
        order: 2;

        @media (min-width: 768px) {
            padding-top: 3.9em;
            width: 28.7em;
            margin-right: 4em;
            order: 0;
        }
    }

    &__sub {
        color: rgba(29, 29, 27, 0.5);
        margin-bottom: 2em;

        @media (min-width: 768px) {
            font-size: $size_xxs;
            line-height: 1.45;
            max-width: 24em;
            margin-bottom: 1.8em;
        }
    }

    &__call {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.9em;

        @media (min-width: 768px) {
            margin-bottom: 1.4em;
        }

        a {
            font-family: $second_font_family;
            font-size: 1.3em;
            text-decoration: none;
            color: #3D3098;
            display: flex;
            align-items: center;
            margin-bottom: 0.7em;
            padding-left: 1em;

            @media (min-width: 768px) {
                padding-left: 1em;
                font-size: 1.5em;
            }

            &:hover {
                color: #006EFF;
            }

            i {
                font-size: 0.95em;
                margin-right: 1.1em;

                @media (min-width: 768px) {
                    font-size: 0.75em;
                    margin-right: 1em;
                }
            }
        }
    }

    &__messanger {
        margin: 0 -.47em;
        display: flex;

        @media (min-width: 768px) {
            max-width: 30em;
        }

        a {
            display: flex;
            flex-direction: column;
            color: #006EFF;
            background: $color_withe;
            text-decoration: none;
            width: calc(50% - 0.94em);
            margin: 0 0.47em 0.94em;
            padding: 1.4em 0.3em 1em 0.9em;

            @media (min-width: 768px) {
                padding: 1em 0.9em 1em 1.2em;
                align-items: center;
                flex-direction: row;
                font-size: $size_xxs;
            }

            &:hover {
                color: #3D3098;
            }

            i {
                font-size: 1.45em;
                margin-right: 0.7em;
                margin-bottom: 0.8em;

                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__right {
        flex-grow: 1;
        min-width: 0;
    }

    &__form {
        background: $color_withe;
        padding: 2.5em 1.1em;
        margin: 0 -1.1em 3.4em;

        @media (min-width: 768px) {
            padding: 3.9em 1.9em;
            margin: 0;
        }
    }

}

.form {
    .form_grid {

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1.88em;

            .form__row {
                width: 50%;
                padding-left: 1.88em;
            }
        }
    }

    &__legend {
        font-family: $second_font_family;
        font-size: 1.5em;
        margin-bottom: 1.8em;

        @media (min-width: 768px) {
            font-size: 1.85em;
        }
    }

    &__row {}

    &__action {
        margin-bottom: 1.3em;

        .btn {
            width: 100%;
        }
    }

    &__privacy {
        display: flex;
        align-items: flex-start;
        color: rgba(29, 29, 27, 0.5);
        line-height: 1.3;

        span {

            @media (min-width: 768px) {
                font-size: $size_xxs;
            }
        }

        a {
            color: rgba(29, 29, 27, 0.5);
        }

        input {
            margin-right: 1em;

            @media (min-width: 768px) {
                margin-right: 2em;
            }
        }
    }

}

.programSertificate {
    background: $color_withe;

    @media (min-width: 768px) {
        margin-bottom: $quat_size;
    }

    .section {
        &__title {
            font-size: 1.65em;
            margin-bottom: 1em;
            max-width: 7.6em;

            @media (min-width: 768px) {
                font-size: 1.95em;
                margin-bottom: 1.5em;
            }
        }

    }

    &__content {
        position: relative;

        @media (min-width: 768px) {
            display: flex;
            padding-left: 16.3em;
            padding-bottom: 6.2em;

        }

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: $quat_size_sm*3;
            height: $quat_size_sm;
            background: $color_withe;
            left: -1.1em;
            top: -$quat_size_sm;

            @media (min-width: 768px) {
                width: $quat_size;
                height: $quat_size;
                background: #F6F6F6;
                left: -1.9em;
                top: 0;
            }
        }

        &:before {}

        @media (min-width: 768px) {
            &:after {
                background: #006EFF;
                top: $quat_size;
                left: $quat_size - 1.9em;
            }
        }

    }

    &__left {
        flex: none;
        padding-top: 3.3em;
        // margin-right: 0em;

        @media (min-width: 768px) {
            width: 26em;
            padding-top: 7.7em;
            margin-right: 3.4em;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: $quat_size;
                height: $quat_size;
                background: #F6F6F6;
                left: -1.9em;
            }

            &:before {
                bottom: $quat_size;
            }

            &:after {
                width: $quat_size*2;
                bottom: 0;
            }
        }

    }

    &__text {
        color: rgba(29, 29, 27, 0.5);
        padding-right: 2em;

        @media (min-width: 768px) {
            font-size: $size_xs;
            line-height: 1.4;
            padding-right: 0;
        }
    }

    &__right {
        padding-bottom: 3.3em;
        @media (min-width: 768px) {
            padding-bottom: 0;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: $quat_size_sm;
            height: $quat_size_sm;
            background: $color_withe;
            right: -1.1em;
            bottom: -$quat_size_sm;

            @media (min-width: 768px) {
                width: $quat_size;
                height: $quat_size;
                bottom: -$quat_size;
                right: -1.9em;
            }
        }

    }

    &__img {
        position: relative;
        // box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.09) , 2em 2em #DCE7F4;
        margin-top: 2em;

        @media (min-width: 768px) {
            margin-top: -3em;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -1em;
            right: -1.1em;
            background: #DCE7F4;
            height: 88.3%;
            width: 87.6%;

            @media (min-width: 768px) {
                bottom: -1.8em;
                right: -1.8em;
            }
        }

        img {
            display: block;
            position: relative;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.09);

            @media (min-width: 768px) {
                box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.09);
            }
        }
    }

}

.programFaq {
    padding: 3.2em 0 0;
    margin-bottom: 3.8em;

    @media (min-width: 768px) {
        padding: 5.9em 0 0;
        margin-bottom: $quat_size*1.85;
    }

    .section {
        &__title {}

    }

    &__content {
        position: relative;

        @media (min-width: 768px) {
            display: flex;
            padding-left: 16.4em;
            padding-bottom: 4.5em;
            // padding-right: 0.1em;
        }

        @media (min-width: 768px) {
            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: $quat_size;
                height: $quat_size;
                background: $color_withe;
                left: -1.9em;
                bottom: -$quat_size;
            }

            &:before {
                width: $quat_size*2;
            }

            &:after {
                bottom: -$quat_size*2;
                left: $quat_size - 1.9em;
                background: #3D3098;
            }
        }
    }

    &__left {

        @media (min-width: 768px) {
            flex: none;
            width: 30em;
            margin-right: 2.7em;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: $quat_size;
                height: $quat_size;
                background: $color_withe;
                right: 9.9em;
                bottom: -$quat_size * 3;
            }
        }
    }

    &__right {
        padding-top: 1em;
        @media (min-width: 768px) {
            padding-top: 0;
            min-width: 0;
            flex-grow: 1;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: $quat_size;
                height: $quat_size;
                background: $color_withe;
                right: -1.9em;
                bottom: -$quat_size;
            }

            &:before {
                right: $quat_size - 1.9em;
            }

            &:after {
                width: $quat_size*2;
                bottom: -$quat_size*2;
            }
        }

    }

    &__list {
        margin-bottom: 1.1em;

        @media (min-width: 768px) {
            margin-bottom: 3.8em;
        }
    }

    &__item {
        border-bottom: 1px solid rgba(29, 29, 27, 0.15);
        padding-bottom: 2.1em;

        @media (min-width: 768px) {
            padding-bottom: 3.8em;
            padding-right: 1.4em;
        }

        &.open {
            padding-bottom: 0.8em;

            @media (min-width: 768px) {
                padding-bottom: 1.1em;
            }
        }

    }

    &__wrap {
        &:nth-child(n+2) {
            padding-top: 1.7em;

            @media (min-width: 768px) {
                padding-top: 3.2em;
            }
        }
    }

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: -0.3em;

        @media (min-width: 768px) {
            align-items: center;
            margin-right: 0;
        }
    }

    &__title {
        font-family: $second_font_family;
        font-size: 1.3em;

        @media (min-width: 768px) {
            font-size: 1.47em;
            max-width: 20.6em;
        }
    }

    &__toggle {
        flex: none;
        width: 2.25em;
        height: 2.25em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color_withe;
        margin-left: 1.1em;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: 0.1em;

        @media (min-width: 768px) {
            margin-left: 1.5em;
            margin-top: 0.5em;
            width: 2.81em;
            height: 2.81em;
        }

        &:before {
            font-family: 'bsch';
            content: $icon_trangle;
            line-height: 1;
            margin-top: 0.2em;
        }

        .open & {
            background: #006EFF;
            color: $color_withe;
            transform: rotate(180deg);

            @media (min-width: 768px) {
                margin-top: -0.3em;
            }
        }
    }

    &__text {
        color: rgba(29, 29, 27, 0.5);
        line-height: 1.2;
        margin: 0;
        overflow: hidden;
        transition: margin 0.3s;
        height: 0;

        @media (min-width: 768px) {
            font-size: $size_xxs;
        }

        .open & {
            margin: 1.4em 0;
            height: auto;

            @media (min-width: 768px) {
                line-height: 1.4;
                margin: 1.9em 0;
            }
        }
    }

    &__doc {
        a {
            border: 1px solid rgba(29, 29, 27, 0.15);
            color: rgba(29, 29, 27, 0.5);
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 0.9em;
            width: 100%;

            @media (min-width: 768px) {
                padding: 1.7em;
            }

            &:hover {
                span {
                    text-decoration: none;
                }
            }
        }

        .icon_doc {
            font-size: 1.5em;
            margin-right: 0.6em;

            @media (min-width: 768px) {
                margin-right: 0.8em;
                font-size: 1.7em;
            }
        }

        span {
            font-size: 1em;
            text-decoration: underline;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }
    }

}
