/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@font-face {
    font-family: 'Igra Sans';
    src: url("../fonts/IgraSans.eot");
    src: local('Igra Sans'), local('IgraSans'), url("../fonts/IgraSans.eot?#iefix") format('embedded-opentype'), url("../fonts/IgraSans.woff") format('woff'), url("../fonts/IgraSans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Fonts size variables
$size_xxxs: 0.9375em; // 15
$size_xxs: 1.0625em; // 17
$size_xs: 1.25em; // 20
$size_s: 1.375em; // 22
$size_m: 1.5em;
$size_l: 1.625em;
$size_xl: 1.75em;
$size_xxl: 3.25em;
$size_xxxl: 7.5em;

// Размер кубиков
$quat_size: 5.88em;
$quat_size_sm: 2.6em;

// Icon
$icomoon-font-family: "bsch" !default;
$icomoon-font-path: "../fonts" !default;

$icon_bell: "\e91b";
$icon_close: "\e91c";
$icon_success-square: "\e917";
$icon_caret-square: "\e918";
$icon_attention: "\e919";
$icon_plane: "\e91a";
$icon_docx: "\e915";
$icon_pdf: "\e916";
$icon_angle: "\e914";
$icon_paperclip: "\e913";
$icon_briefcase: "\e90c";
$icon_video: "\e90d";
$icon_cube: "\e90e";
$icon_comments: "\e90f";
$icon_tasks: "\e910";
$icon_pencil: "\e911";
$icon_bullhorn: "\e912";
$icon_calendar: "\e90b";
$icon_quote: "\e90a";
$icon_play: "\e909";
$icon_doc: "\e908";
$icon_trangle: "\e907";
$icon_check: "\e904";
$icon_phone: "\e905";
$icon_check-square: "\e906";
$icon_facebook: "\e900";
$icon_instagram: "\e901";
$icon_telegram: "\e902";
$icon_whatsapp: "\e903";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?birnkt") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?birnkt") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?birnkt##{$icomoon-font-family}") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon_"],
[class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_bell {
    &:before {
        content: $icon_bell;
    }
}

.icon_close {
    &:before {
        content: $icon_close;
    }
}

.icon_success-square {
    &:before {
        content: $icon_success-square;
    }
}

.icon_caret-square {
    &:before {
        content: $icon_caret-square;
    }
}

.icon_attention {
    &:before {
        content: $icon_attention;
    }
}

.icon_plane {
    &:before {
        content: $icon_plane;
    }
}

.icon_docx {
    &:before {
        content: $icon_docx;
    }
}

.icon_pdf {
    &:before {
        content: $icon_pdf;
    }
}

.icon_angle {
    &:before {
        content: $icon_angle;
    }
}

.icon_paperclip {
    &:before {
        content: $icon_paperclip;
    }
}

.icon_briefcase {
    &:before {
        content: $icon_briefcase;
    }
}

.icon_video {
    &:before {
        content: $icon_video;
    }
}

.icon_cube {
    &:before {
        content: $icon_cube;
    }
}

.icon_comments {
    &:before {
        content: $icon_comments;
    }
}

.icon_tasks {
    &:before {
        content: $icon_tasks;
    }
}

.icon_pencil {
    &:before {
        content: $icon_pencil;
    }
}

.icon_bullhorn {
    &:before {
        content: $icon_bullhorn;
    }
}

.icon_calendar {
    &:before {
        content: $icon_calendar;
    }
}

.icon_quote {
    &:before {
        content: $icon_quote;
    }
}

.icon_play {
    &:before {
        content: $icon_play;
    }
}

.icon_doc {
    &:before {
        content: $icon_doc;
    }
}

.icon_trangle {
    &:before {
        content: $icon_trangle;
    }
}

.icon_check {
    &:before {
        content: $icon_check;
    }
}

.icon_phone {
    &:before {
        content: $icon_phone;
    }
}

.icon_check-square {
    &:before {
        content: $icon_check-square;
    }
}

.icon_facebook {
    &:before {
        content: $icon_facebook;
    }
}

.icon_instagram {
    &:before {
        content: $icon_instagram;
    }
}

.icon_telegram {
    &:before {
        content: $icon_telegram;
    }
}

.icon_whatsapp {
    &:before {
        content: $icon_whatsapp;
    }
}

@import 'mixins/mixin';
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'core/section';
@import 'core/advProg';
@import './vendor/slick';
@import './vendor/modal';

@import "./component/firstScreen";
@import "./component/homeThumbs";
@import "./component/homeSlider";
@import "./component/programs";
@import "./component/programsList";
@import "./component/programsInfo";
@import "./component/parthnersLine";
@import "./component/campusPlace";
@import "./component/campusDescr";
@import "./component/campusSlider";
@import "./component/programPage";
@import "./component/programDetails";
@import "./component/programAbout";
@import "./component/teachersList";
@import "./component/programSteps";
@import "./component/rating";
@import "./component/programReview";
@import "./component/programOrder";
@import "./component/programSertificate";
@import "./component/programFaq";
@import "./component/pageAbout";
@import "./component/textBox";
@import "./component/contactLine";
@import "./component/pageTitle";
@import "./component/postPage";
@import "./component/popolarList";
@import "./component/event";
@import "./component/presentationOrder";
@import "./component/teacherModal";
@import "./component/lightbox";
@import "./component/news";
@import "./component/teachers";
@import "./component/videoModal";
@import "./component/messageModal";
@import "./component/lkContent";
@import "./component/lkNav";
@import "./component/lkAdvSlider";
@import "./component/lkProgress";
@import "./component/lk-data";
@import "./component/lk-settings";
@import "./component/lk-courses";
@import "./component/lk";

.coursNav {
    padding: 1.1em;
    background: $color_withe;
    border-bottom: 2px solid rgba(0, 110, 255, 0.3);
    white-space: nowrap;
    overflow: auto hidden;

    @media (min-width: 768px) {
        display: flex;
        margin-right: 30em;
        padding: 0 0 0 1.1em;
        border: 0;
        overflow: inherit;
    }

    &__item {
        text-decoration: none;
        width: 2.6875em;
        height: 2.6875em;
        background: rgba(0, 110, 255, 0.19);
        color: #006EFF;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
        cursor: pointer;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        i {
            font-size: 1.5em;
        }

        &.active {
            background: #006EFF;
            color: #fff;
            cursor: default;

            &:after {
                content: '';
                position: absolute;
                border: 0.6em solid #006EFF;
                border-right-color: transparent;
                border-bottom-color: transparent;
                transform: rotate(45deg);
                top: calc(100% + 0.7em);

                @media (min-width: 768px) {
                    top: calc(100% + 1em);
                }
            }

        }
    }
}

.lkCoursePage {
    position: relative;

    @media (min-width: 768px) {
        margin-bottom: -12.348em;
    }

    &__aside {
        display: none;
        @media (min-width: 768px) {
            width: 15em;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            // height: 100vh;
            background: #1D1D1B;
            // padding-top: 5.8em;
            padding-right: 0.125em;
            display: flex;
            flex-direction: column;
            padding-bottom: 0;
            transition: left 0.4s;

            .nav_hidden & {
                left: -15em;
            }
        }
    }

    &__content {
        padding: 0 1.1em;

        @media (min-width: 768px) {
            padding: 0 2em 6.8125em 26.4em;
            min-height: calc(100vh - 5.9em);
        }
    }

    &__head {
        background: #E6F1FF;
        padding: 1.1em;
        margin: 0 -1.1em;
        border-bottom: 1px solid rgba(0, 110, 255, 0.31);

        @media (min-width: 768px) {
            display: flex;
            padding: 1.1em 2em 1.1em 26.4em;
            margin: 0 -2em 0 -26.4em;
            border: 0;
        }
    }

    &__title {
        font-family: $second_font_family;

        @media (min-width: 768px) {
            font-size: 1.125em;
            max-width: 21em;
            margin-right: 8em;
        }
    }

    &__condition {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.1em;
        background: #E6F1FF;
        color: #006EFF;
        margin: 0 -1.1em 2em;

        @media (min-width: 768px) {
            display: inline-flex;
            padding: 1.1em 1.9em;
            margin: 0 0 2em;
        }

        &_success {
            display: flex;
            background: $color_withe;
            margin: 0 -1.1em 2em;

            @media (min-width: 768px) {
                margin: 0 0 2em;
            }

            .lkCoursePage__condition {
                background: rgba(22, 159, 98, 0.16);
                color: #169F62;
                margin-bottom: 0;

                @media (max-width: 767px) {
                    flex-direction: column;
                    width: 30%;
                    flex: none;
                    margin: 0;

                    i {
                        margin-right: 0;
                        margin-bottom: 0.6em;
                    }
                }

                &Total {
                    color: #169F62;
                    padding: 0.5em 3.3em 0.5em 1.3em;
                    // font-size: 1.25em;

                    @media (min-width: 768px) {
                        padding: 0.5em 1.3em;
                        font-size: 1.25em;
                    }

                    i {
                        color: rgba(29, 29, 27, 0.5);
                        display: block;
                        font-size: 75%;
                    }
                }
            }
        }

        i {
            font-size: 1.2em;
            margin-right: 0.8em;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 768px) {
                font-size: 1.4em;
            }

            &:before {}
        }

        span {
            @media (min-width: 768px) {
                font-size: 1.4em;
            }
        }
    }

    &__state {
        font-style: italic;
        color: $color_primary;
        padding-top: 0.4em;

        @media (min-width: 768px) {
            font-size: $size_xxs;
            padding-top: 0.1em;
        }
    }

    &__body {

        @media (min-width: 768px) {
            padding-top: 2em;
            max-width: 60em;
        }

        h2 {
            font-family: $second_font_family;
            font-weight: 400;
            font-size: 1.2em;
            margin: 0 0 1.9em;

            @media (min-width: 768px) {
                font-size: 1.34em;
            }
        }

        h3 {
            font-family: $second_font_family;
            font-weight: 400;
            font-size: 1.1em;
            margin: 0 0 1.3em;

            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }

        ol,
        p,
        ul {
            color: rgba(29, 29, 27, 0.5);

            @media (min-width: 768px) {
                font-size: $size_xxs;
            }

            + h3 {
                margin-top: 2em;
            }

        }

        p {
            margin: 1.9em 0;
        }
    }

    &__docs {
        padding: 0;
        margin: 0 0 2em;
        list-style: none;

        li {
            margin-bottom: 1em;
        }

        a {
            text-decoration: none;
            color: rgba(29, 29, 27, 0.5);
            display: inline-flex;
            align-items: center;

            i {
                color: $color_primary;
                margin-right: 0.7em;
                font-size: 1.4em;
            }

        }
    }

}

.lkCourseAside {
    @media (min-width: 768px) {
        height: 100%;
        display: flex;
        flex-direction: column;

        &__toggle {
            background: #3D3098;
            width: 1.8125em;
            height: 1.8125em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color_withe;
            position: absolute;
            right: 0;
            top: 1.4em;
            cursor: pointer;

            .nav_hidden & {
                right: -1.8125em;
            }

            &:before {
                font-family: 'bsch';
                content: $icon_angle;
                transform: rotate(180deg);

                .nav_hidden & {
                    transform: rotate(0deg);
                }
            }
        }

        &__head {
            padding: 1.3em 1em;
        }

        &__title {
            color: $color_withe;
            font-size: $size_xxxs;
            margin-bottom: 0.65em;
            padding-right: 1.7em;
        }

        &__bar {
            position: relative;
            height: 6px;
            background: rgba(255, 255, 255, 0.19);
            margin-bottom: 0.4em;

            span {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: #169F62;
            }
        }

        &__progress {
            color: rgba(255, 255, 255, 0.5);
            font-style: italic;
        }

        &__parent {
            a {
                color: $color_withe;
                text-decoration: none;
                display: block;
                padding: 0.74em 1em;

                &.active {
                    background: #006EFF;
                }
            }
        }

        &__list {
            padding: 0 0 1em;
            flex-grow: 1;
            max-height: 100%;
            overflow-y: auto;
            color: rgba(255, 255, 255, 0.5);
            font-size: $size_xxxs;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                a {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                li {
                    // margin-bottom: 1.48em;
                }

                ul {
                    padding-left: 0.7em;

                    a {
                        color: rgba(255, 255, 255, 0.5);
                        text-decoration: none;
                        display: block;
                        padding: 0.74em 0.74em 0.74em 1.8em;
                        margin-left: -.7em;

                        &.active {
                            background: #006EFF;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 0.25em;
            }

            &::-webkit-scrollbar-track {
                background-color: rgba($color_withe, 0);
            }

            &::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background: #C8C8C8;
                margin: 0.125em;
            }
        }

    }
}

.lkCoursMessage {
    margin-top: 3.6em;

    @media (min-width: 768px) {
        margin-top: 5.6em;
        max-width: 63.9em;
    }

    &__title {
        font-size: 1.45em;
        margin-bottom: 1.6em;

        @media (min-width: 768px) {
            font-size: 2.1em;
            margin-bottom: 2.15em;
        }
    }

    &__content {}

    &__row {
        margin-bottom: 2em;

        @media (min-width: 768px) {
            margin-bottom: 2.625em;
            display: flex;
        }
    }

    &__user {
        width: 3.875em;
        height: 3.875em;
        margin-bottom: 1em;
        margin-right: 1.1em;

        @media (min-width: 768px) {
            margin-right: 1.875em;
            flex: none;
            margin-bottom: 0;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__body {
        min-width: 0;
        flex-grow: 1;
    }

    &__area {
        margin-bottom: 1em;
    }

    &__upload {
        margin-bottom: 1em;
    }

    &__submit {
        margin-bottom: 1em;

        .btn {
            width: 100%;
        }
    }

    &__nav {
        text-align: right;

        .btn {
            display: inline-flex;
            align-items: center;

            i {
                margin-left: 0.8em;
            }
        }
    }

    &__file {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        color: rgba(29, 29, 27, 0.5);

        &Name {
            @media (min-width: 768px) {
                font-size: $size_xxs;
            }
        }

        .delete {
            width: 1.125em;
            height: 1.125em;
            margin-left: 0.5em;
            border: 1px solid;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after,
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 70%;
                border-top: 1px solid;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    &__txt {

        @media (min-width: 768px) {
            margin-top: -1.6em;
        }
    }

    &__name {
        font-family: $second_font_family;
        margin-bottom: 0.5em;
        font-size: 1.15em;

        @media (min-width: 768px) {
            font-size: $size_xxs;
        }
    }

    &__text {
        color: rgba(29, 29, 27, 0.5);
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        padding: 0.8em 1em;
        margin-bottom: 0.5em;

        @media (min-width: 768px) {
            padding: 1em 1.5em;
            font-size: $size_xxs;
        }
    }

    &__left {
        @media (max-width: 767px) {
            display: flex;
            align-items: center;
        }
    }

    &__answer {
        font-size: $size_xxxs;
        color: #006EFF;
        display: inline-block;
        margin-bottom: 3em;
    }

}

.lkFormUpload {
    padding: 1.3em 1.6em 1.3em 1.8em;
    background: rgba(0, 110, 255, 0.1);
    color: rgba(0, 110, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &__label {
        font-size: $size_xxs;
    }

    input {
        display: none;
    }

    .icon_paperclip {
        font-size: 1.6em;
    }
}

.lkToTop {
    display: none;

    @media (min-width: 768px) {
        width: 42px;
        height: 42px;
        background: rgba(0, 110, 255, 0.19);
        color: #006EFF;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 16.3em;
        bottom: 1.3em;
        cursor: pointer;
        transition: left 0.4s;

        .nav_hidden & {
            left: 1.3em;
        }

        .icon_angle {
            transform: rotate(-90deg);
            font-size: 26px;
        }
    }
}

.lkNotif {
    margin: 0 -1.1em 27px;

    @media (min-width: 768px) {
        margin: 0 0 50px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        padding: 1em 0.9375em;
        background: $color_withe;
        margin-bottom: 0.8em;

        @media (min-width: 768px) {
            margin-bottom: 1.25em;
        }
    }

    &__icon {
        flex: none;
        font-size: 0.8em;
        width: 2.5em;
        height: 2.5em;
        margin-right: 1em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 768px) {
            font-size: 1em;
        }

        .icon_close {
            font-size: 0.875em;
        }

        .icon_bell {
            font-size: 0.9375em;
        }

        .icon_check {
            font-size: 0.875em;
        }

        &.danger {
            background: rgba(248, 43, 55, 0.1);
            color: #F82B37;
        }

        &.primary {
            background: rgba(#006EFF, 0.1);
            color: #006EFF;
        }

        &.success {
            background: #E6FBE6;
            color: #04CF00;
            font-weight: 600;
        }
    }

    &__body {
        min-width: 0;
        flex-grow: 1;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            padding-top: 0.65em;
        }
    }

    &__text {
        @media (min-width: 768px) {
            font-size: 1.0625em;
        }
    }

    &__date {
        color: rgba($main_color, 0.5);
        margin-top: 0.5em;
        font-size: 0.85em;

        @media (min-width: 768px) {
            font-size: 0.9375em;
            flex: none;
            margin-top: 0;
            margin-left: 2em;
        }
    }

}
