.form {
	input:not([type]),
	input[type=date],
	input[type=email],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=url],
	textarea {
		background: #FFFFFF;
		border: 1px solid #DBDBDB;
		padding: 0.971em 1.175em;
	}

	&__row {
		margin-bottom: 2.2em;

		.form & {
			&:not(:last-child) {
				margin-bottom: 1.3em;
			}
		}

		@media (min-width: 768px) {
			margin-bottom: 3.4em;

			.form & {
				margin-bottom: 1.875em;

				&_inline {
					&:not(:last-child) {
						margin-bottom: 0.625em;
					}
				}
			}
		}

		&_inline {
			margin-bottom: 0.625em;

			@media (min-width: 768px) {
				display: flex;
				align-items: center;
			}

			.form__label {
				display: block;

				@media (min-width: 768px) {
					flex: none;
					width: 24.375em;
					margin-bottom: 0;
					padding-right: 3em;
				}
			}

			.form__field {
				min-width: 0;
				flex-grow: 1;
			}
		}

		.btn,
		input:not([type]),
		input[type=date],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			resize: vertical;
			height: 9.375em;

		}
	}

	.form_grid {

		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			margin-left: -1.88em;

			.form__row {
				width: 50%;
				padding-left: 1.88em;
			}
		}
	}

	&__legend {
		font-family: $second_font_family;
		font-size: 1.6em;
		margin: 0 0 1em;
		line-height: 1.3;
		font-weight: 400;

		@media (min-width: 768px) {
			font-size: 1.85em;
			line-height: 1.2;
			margin: 0 0 1.8em;
		}
	}

	&__sub {
		color: rgba(29, 29, 27, 0.5);
		margin-bottom: 1.9em;
		line-height: 1.4;

		@media (min-width: 768px) {
			font-size: $size_xxs;
			// line-height: 1.4;
			margin-bottom: 2.4em;
		}
	}

	&__action {
		margin-bottom: 1.3em;

		.btn {
			width: 100%;
		}
	}

	&__privacy {
		display: flex;
		align-items: flex-start;
		color: rgba(29, 29, 27, 0.5);
		line-height: 1.3;

		span {

			@media (min-width: 768px) {
				font-size: $size_xxs;
			}
		}

		a {
			color: rgba(29, 29, 27, 0.5);
			text-decoration: underline;
		}

		input {
			margin-right: 1em;

			@media (min-width: 768px) {
				margin-right: 2em;
			}
		}
	}

	&__wrapper {
		background: $color_withe;
		padding: 3.2em 1.1em;
		margin: 0 -1.1em 3.4em;

		.modal & {
			margin: 0;
		}

		@media (min-width: 768px) {
			padding: 3.9em 1.9em;
			margin: 0;
		}

	}

	&__link {
		a {
			color: #006EFF;
			text-decoration: underline;

			&:hover {
				// text-decoration: none;
			}

			@media (min-width: 768px) {
				font-size: 1.1em;
			}
		}
	}

	&__check {
		display: inline-flex;
		align-items: center;

		> input {
			display: flex;
			flex: none;
			margin-right: 0.5625em;
		}

		> span {
			min-width: 0;
		}

		p {
			margin: 0;
		}

		&Text {
			display: flex;
			align-items: center;
		}

		.icon_help {
			margin-left: 0.3em;
			flex: none;
			vertical-align: text-bottom;
		}
	}

	&__valid {
		margin-top: 0.5em;
		color: #7F7F7F;

		@media (min-width: 768px) {
			font-size: $size_xxs;
		}

		.icon_check {
			font-size: 0.75em;
			color: #04CF00;
			font-weight: 600;
		}

		.icon_close {
			font-size: 0.75em;
			color: #E47E1F;
		}
	}

	&__label {
		margin-bottom: 0.625em;
		display: flex;
		align-items: center;

		.icon_help {
			margin-left: 0.4em;
			flex: none;
		}

		@media (min-width: 768px) {
			font-family: $size_xxs;
		}
	}

	&__date {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.625em;

		.icon_calendar {
			color: #006EFF;
			font-size: 1.5em;
			margin-right: 0.5em;
		}
	}
}
// Input text and textarea ================================================
input:not([type]),
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid $input_border_color;
	font-family: $main_font_family;
	color: $input_color;
	padding: 0 0 1.1em;
	outline: none;
	font-weight: 400;
	border-radius: 0;
	transition: 0.3s;
	transition-property: color background border;
	width: 100%;

	@media (min-width: 768px) {
		font-size: $size_xxs;
	}

	&:hover {
		border-color: $input_hover_border_color;
		background-color: transparentize($input_hover_bg_color, 0.9);
	}

	&:focus {
		border-color: $input_focus_border_color;
		background-color: transparentize($input_hover_bg_color, 0.9);
	}

	&.invalid {
		background-color: transparentize($input_hover_bg_color, 0.9);
		border-color: $input_error_border_color;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: $input_placeholder_color;
	}

}

textarea {
	resize: vertical;

	.modal & {
		height: 5.25em;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	appearance: none;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
	appearance: none;
	margin: 0;
}
/* Для Firefox */
input[type=number] {
	appearance: textfield;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: none;
	height: 1.5em;
	width: 1.5em;
	color: #aaa;
	background: 0 0;
	border: 1px solid;
	overflow: hidden;
	vertical-align: middle;
	appearance: none;
	outline: 0;
	text-align: center;
	position: relative;

	@media (min-width: 768px) {
		height: 2em;
		width: 2em;
	}

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		display: block;
	}

	&:disabled,
	&:disabled {
		color: #ddd;
	}
}

input[type=radio] {
	border-radius: 50%;
	background: #F6F6F6;
	border: 1px solid rgba(29, 29, 27, 0.25);

	&:checked:before {
		content: '';
		position: absolute;
		width: 33.3%;
		height: 33.3%;
		display: block;
		border-radius: 50%;
		background: #006EFF;
	}

	&:disabled:checked:before {
		background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
		content: "";
		position: absolute;
		width: 40%;
		height: 60%;
		color: #006EFF;
		margin-top: -3px;
		border-right: 1px solid;
		border-bottom: 1px solid;
		transform: rotate(45deg);
	}

	&:indeterminate:before {
		content: "";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		color: #aaa;
	}
}

.select2 {
	&-hidden-accessible {
		display: none;
	}

	&-search__field {
		display: none;
	}

	&-container {
		span {
			display: block;
		}

		.form__row & {
			width: 100% !important;
			// display: block;
		}

		&--open {
			z-index: 1050;
		}

		&--default {
			.select2 {
				&-results {
					&__options {
						list-style: none;
						padding: 0;
						margin: 0;
					}

					&__option {
						padding: 0.971em 1.175em;
						cursor: pointer;
						color: rgba(29, 29, 27, 0.5);

						&--highlighted[aria-selected] {
							background: rgba(0, 110, 255, 0.19);
							color: rgba(29, 29, 27, 0.6);
						}

						&--selected {
							background: rgba(0, 110, 255, 0.19);
							color: $main_color;
						}
					}
				}

				&-dropdown {
					position: absolute;
					// z-index: 150;
					background-color: #fff;
					border-radius: 0;
					margin-top: 0;
					border: 1px solid #DBDBDB;
					border-top: 0;
					box-shadow: 0 2.1875em 4.6875em rgba(128, 125, 125, 0.15);

					&--below {}

					&--above {}
				}

				&-selection {
					background: #FFFFFF;
					border: 1px solid #DBDBDB;
					font-family: $main_font_family;
					color: $input_color;
					padding: 0.971em 1.175em;
					outline: none;
					font-weight: 400;
					border-radius: 0;
					transition: 0.3s;
					transition-property: color background border;
					width: 100%;
					height: auto;
					position: relative;

					@media (min-width: 768px) {
						font-size: $size_xxs;
					}

					&:hover {
						border-color: $input_hover_border_color;
						background-color: transparentize($input_hover_bg_color, 0.9);
					}

					&:focus {
						border-color: $input_focus_border_color;
						background-color: transparentize($input_hover_bg_color, 0.9);
					}

					&--single {
						.select2 {
							&-selection {
								&__rendered {
									line-height: 1;
									padding: 0 1em 0 0;
									color: $input_color;
								}

								&__placeholder {
									color: $input_placeholder_color;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
								}

								&__arrow {
									display: flex;
									align-items: center;
									justify-content: center;
									position: absolute;
									top: 0;
									right: 0;
									height: 100%;
									width: 2.5em;
									padding-bottom: 0.3em;

									.form__date & {
										padding-bottom: 0;

										&:before {
											content: '';
											display: block;
											border: 0;
											width: 0.6em;
											height: 0.6em;
											border-right: 2px solid rgba(29, 29, 27, 0.5);
											border-bottom: 2px solid rgba(29, 29, 27, 0.5);
											transform: rotate(-135deg);
											margin-bottom: 0.5em;
										}

										b {
											margin-top: 0.5em;
										}
									}

									b {
										// rgba(29, 29, 27, 0.5);
										// position: static;
										left: auto;
										top: auto;
										margin: auto;
										border: 0;
										width: 0.6em;
										height: 0.6em;
										border-right: 2px solid rgba(29, 29, 27, 0.5);
										border-bottom: 2px solid rgba(29, 29, 27, 0.5);
										transform: rotate(45deg);
									}
								}
							}
						}
					}
				}
			}

			&.select2-container {
				&--open {
					z-index: 1050;

					.select2-selection--single .select2-selection__arrow {
						padding-bottom: 0;

						b {
							border: 0;
							width: 0.6em;
							height: 0.6em;
							border-right: 2px solid rgba(29, 29, 27, 0.5);
							border-bottom: 2px solid rgba(29, 29, 27, 0.5);
							transform: rotate(-135deg);

						}

						.form__date & {
							// padding-bottom: 0.3em;

							b {
								transform: rotate(45deg);
							}
						}

					}
				}

				&--disabled {
					.select2 {
						&-selection {
							background: #FFFFFF;
							border: 1px solid #DBDBDB;
							font-family: $main_font_family;
							color: $input_color;
							padding: 0.971em 1.175em;
							outline: none;
							font-weight: 400;
							border-radius: 0;
							transition: 0.3s;
							transition-property: color background border;
							width: 100%;
							height: auto;
							position: relative;

							&--single {
								background: #FFFFFF;
							}

							&__rendered {
								color: rgba(29, 29, 27, 0.5);
							}
						}
					}
				}
			}
		}
	}
}
