// Grid
// ------------------------
// Example - for html
// <div class="grid grid__3 ">
//  	<div>
// 			...
//  	</div>
//  	<div>
// 			...
//  	</div>
//  	<div>
// 			...
//  	</div>
// </div>
// ------------------------
.grid {

	@media (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 1.875em;

		.form__group {
			gap: 0.625em;
		}
	}
}

.col {
	width: auto;
	margin-bottom: 0.6em;

	@media (min-width: 768px) {
		margin-bottom: 0;

		&_100 {
			width: 100%;
		}

		&_75 {
			width: calc(75% - 1.875em);
		}

		&_66 {
			width: calc(66.6% - 1.875em);
		}

		&_50 {
			width: calc(50% - 1.875em);
		}

		&_33 {
			width: calc(33.3% - 1.875em);
		}

		&_25 {
			width: calc(25% - 1.875em);
		}
	}
}
