// Social link

.soc {
	display: flex;
	align-items: center;

	a {
		margin-right: 1.4em;
		font-size: 1.6em;
		text-decoration: none;

		@media (min-width: 768px) {
			font-size: 1.3em;
		}

		&:hover {}
	}
}
