footer.footer
    .footer__content
        .footer__quatro
            span
            span
            span

    .footer__top
        .footer__content
            .footer__col
                a.logo(href="/")
                    img(src="img/logo.svg", alt="alt")
            .footer__col
                .footer__head Контакты

                .footer__contact
                    a(href="mailto: gazetny@universitas.ru") gazetny@universitas.ru
                    a(href="tel: + 7 (499) 110-90-08") + 7 (499) 110-90-08

                .footer__message
                    a(href="")
                        i.icon_whatsapp 
                        span Поговорить <br>с БШГ в вотсап
                    a(href="") 
                        i.icon_telegram 
                        span Поговорить <br>с БШГ в телеграм

            .footer__col.desktop
                .footer__head Меню

                nav.footer__nav
                    ul.navbar
                        li.navbar__item
                            a.navbar__link(href="") Программы обучения
                        li.navbar__item
                            a.navbar__link(href="") Преподаватели и спикеры
                        li.navbar__item
                            a.navbar__link(href="") О школе
                        li.navbar__item
                            a.navbar__link(href="") Новости
                        li.navbar__item
                            a.navbar__link(href="") Кампус

            .footer__col
                .footer__head Мы в соцсетях
                .footer__soc
                    .soc
                        a.icon_instagram(href="", target="_blank")
                        a.icon_facebook(href="", target="_blank")


    .footer__bottom
        .footer__content
            .footer__temp
                .footer__copy &copy; 2021
                |Бизнес-Школа на Газетном. <br>Московская высшая школа социальных и экономических наук

            .footer__policy
                a(href="") Пользовательское соглашение


// Begin Modal infoModal

.modal.fade.infoModal#loginModal
    .modal-dialog
        a(href="#" class="modal-close" data-dismiss="modal")
        .form__wrapper
            form
                .form__legend Авторизация
                .form__row
                    input(type="text", placeholder="E-mail")
                .form__row
                    input(type="password", placeholder="Пароль")
                .form__action
                    button.btn.btn_primary(type="submit") Войти
                .form__link
                    a(href="") Напомнить пароль

// End modal infoModal

// Begin Modal messageModal
.modal.fade.messageModal#messageModal
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .messageModal__content
                .messageModal__icon
                    i.icon_check
                .messageModal__title Спасибо. <br>Ваша заявка принята.
                .messageModal__text Наш менеджер свяжется с Вами в ближайшее время.

// End modal messageModal
