mixin navbar()
    ul.navbar
        each navLink in [{name: 'О школе ', href: 'about.html'},{name: 'Новости', href: 'news.html'},{name: 'Кампус', href: 'campus.html'},{name: 'Программы обучения', href: 'programs.html'},{name: 'Преподаватели и спикеры', href: 'teachers.html'}]
            li.navbar__item
                a.navbar__link(href= navLink.href)= navLink.name

mixin lkNavbar()
    ul.navbar
        each navLink in [{name: 'Личный кабинет', href: 'lk.html'},{name: 'Мои курсы', href: 'lk-courses.html'},{name: 'Мои сертификаты', href: ''},{name: 'Уведомления', href: ''},{name: 'Мои данные', href: 'lk-data.html'},{name: 'Настройки', href: 'lk-settings.html'},{name: 'Выход', href: 'home.html'}]
            li.navbar__item
                a.navbar__link(href= navLink.href)= navLink.name

header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.svg", alt="alt")
        if isLogin
            if isCourse
                .coursNav
                    a.coursNav__item.active(href="")
                        i.icon_bullhorn
                    a.coursNav__item(href="")
                        i.icon_pencil
                    a.coursNav__item(href="")
                        i.icon_tasks
                    a.coursNav__item(href="")
                        i.icon_comments
                    a.coursNav__item(href="")
                        i.icon_cube
                    a.coursNav__item(href="")
                        i.icon_video
                    a.coursNav__item(href="")
                        i.icon_briefcase

                nav.header__nav.nav.mobile
                    +lkNavbar()
            else
                nav.header__nav.nav.desktop
                    +navbar()
                nav.header__nav.nav.mobile
                    +lkNavbar()

        else
            nav.header__nav.nav
                +navbar()

        .header__login
            if isLogin
                .header__user
                    .header__userNotif
                        a(href="#")
                            img(src="img/notification.svg", alt="")
                        span
                    .header__userImg
                        img(src="img/lk-data.jpg", alt="")
                .header__menu
                    .header__item
                        img(src="img/user-solid.svg", alt="")
                        a(href="#") Личный кабинет

                    .header__item
                        img(src="img/book-open-solid.svg", alt="")
                        a(href="#") Мои курсы

                    .header__item
                        img(src="img/certificate-solid.svg", alt="")
                        a(href="#") Мои сертификаты

                    .header__item
                        img(src="img/bell-solid.svg", alt="")
                        a(href="#") Уведомления

                    .header__item
                        img(src="img/address-card.svg", alt="")
                        a(href="#") Мои данные

                    .header__item
                        img(src="img/cog-solid.svg", alt="")
                        a(href="#") Настройки

                    .header__item
                        img(src="img/sign-out-alt-solid.svg", alt="")
                        a(href="#") Выход

            else
                button.btn.btn_sm(data-toggle="modal" data-target="#loginModal") Вход

        .navbar__toggle
