-var version = '0.2';
block variables
    - lk = false;
    - lkPage = false;
    - isLogin = false;
    - isCourse = false;
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body
        include header.pug

        main.main_content
            block content

        include footer.pug

        include scripts.pug
