extends layout.pug

block variables
    - lk = true;
    - asideHide = false;
    - navHide = false;
    - lkPage = '';
    - isLogin = true;
    - isCourse = false;
    - teacherNav = false;

block content
    .lk
        .container_center
            .lkContent
                .lkContent__aside
                    if !navHide
                        include ../inc/lkNav.pug
                    if teacherNav
                        include ../inc/teacherNav.pug

                .lkContent__center
                    block lkcontent

                if !asideHide
                    .lkContent__right
                        .lkAdvSlider
                            each item in ['', '', '']
                                .lkAdvSlider__item
                                    .lkAdvSlider__img
                                        img(src="img/lkAdvSlider.jpg", alt="")
                                    .lkAdvSlider__name Стратегическое мышление для бизнеса и жизни
                                    .lkAdvSlider__action
                                        a.btn.btn_primary.btn_sm(href="#") Подробнее
