script(src="js/jquery.js")
script(src="js/slick.min.js")
script(src="js/modal.js")
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
script(src="js/function.js?"+version+"")
