mixin select(placeholder="", data=['Значение 1', 'Значение 2', 'Значение 3', 'Значение 4'], disabled=false)
    select.select(data-placeholder=placeholder disabled=disabled)
        if placeholder !== ""
            option(value="")
        each val in data
            option(value=val)=val
