extends layout/layout.pug

block content
    .pageAbout
        // begin firstScreen
        section#firstScreen.firstScreen.firstScreen_page.section
            .container_center
                .firstScreen__content
                    .firstScreen__img
                        .firstScreen__video
                            video(src="" poster="img/about-video.jpg")
                        .firstScreen__quatro
                            span
                            span
                        .play(data-toggle="modal" data-target="#videoModal")
                    .firstScreen__left
                        h1.firstScreen__title О школе

                        .firstScreen__sub 
                            p Бизнес-школа на газетном – это образование, которое изменит вашу жизнь и карьеру.

                        .firstScreen__quote Академическое образование, построенное на компетенциях и доступное по всей России.

        // end firstScreen

        // Begin Modal videoModal
        .modal.fade.videoModal#videoModal
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-dialog.videoModal__content
                video(src="video/Sunrise.mp4" poster="img/about-video.jpg" controls="")
        // End modal videoModal

        section.textBox
            .container_center
                .textBox__columns
                    p Программы Бизнес-школы направлены на развитие профессиональных и личностных компетенций руководителей, менеджеров и предпринимателей в условиях постоянных изменений внешней среды, высокой волатильности экономики и общей неопределенности постковидного мира.
                    p Школа предлагает программы, направленные на развитие стратегического, системного и других ключевых видов мышления.
                    p Школа поможет вам систематизировать накопленный опыт и конвертировать его в уникальные конкурентные преимущества через подбор индивидуальной траектории обучения.

                .pageAbout__img.pageAbout__img_first
                    img(src="img/about-1.jpg", alt="")
                    .pageAbout__square
                        span
                        span

                h2 Мы поможем вам найти свой путь в бизнесе и правильный вектор карьерного развития.
                h3 Что нас отличает

                .textBox__columns
                    p Мы учим алгоритмам эффективного мышления и принятия правильных решений. У нас есть отличная база бизнес-кейсов и опыт «звёздных» преподавателей, которые используются как иллюстративный материал, а не как набор догматических правил.
                    p Мы не дадим вам готовых рецептов того, как вести себя в конкретной ситуации. Но после обучения у нас они вам не понадобятся – потому что вы сами будете знать, что нужно делать. Ведь, как известно, человек, знающий «как», всегда найдет работу, а человек, знающий «почему», будет его начальником.

                .pageAbout__img.pageAbout__img_second
                    img(src="img/about-2.jpg", alt="")
                    .pageAbout__square
                        span
                        span

                h3 В 2021 году стартовали программы Бизнес-школы на Газетном, созданной в партнерстве с Московской высшей школой социальных и экономических наук, которая известна, также как Шанинка.

                .textBox__columns
                    p МВШСиЭН основана в 1995 году и является признанным научным и образовательным центром мирового уровня. «Шанинка» - негосударственный российско-британский университет с двадцатипятилетней историей, который объединяет лучшие черты российской образовательной традиции и международного образования. Это подтверждает большая сеть зарубежных партнеров: University of Manchester (Великобритания), Coventry University (Великобритания), University of Leeds (Великобритания),  International University College of Turin (Италия), Wharton Business School (США), Brigham Young University (США), Georgetown University (США), TUFTS University (США).

                    p Создателем, первым ректором, а впоследствии Президентом МВШСиЭН был Теодор Шанин – профессор Манчестерского университета, почётный доктор Университета Торонто и учёный-социолог с мировым именем. 

                    p Ориентация бизнес-школы на системное обучение и развитие интеллектуальной культуры в значительной степени является результатом его многолетней работы по подготовке научных и преподавательских кадров для новой России, отмеченной медалью Почётного работника высшего профессионального образования РФ. 

                    p Приоритетные задачи «Шанинки» - фундаментальные исследования и развитие социальных и гуманитарных наук. Прочный научный фундамент, атмосфера исследовательского поиска и насыщенная интеллектуальная среда - ценности, которые Бизнес-школа на Газетном разделяет с «Шанинкой».

                .pageAbout__img.pageAbout__img_three
                    img(src="img/about-3.jpg", alt="")
                    .pageAbout__square
                        span
                        span

                h2 Наши преимущества

                .textBox__grid
                    .textBox__gridItem
                        h3 Уникальный продукт

                        ul
                            li Обучение навыкам и инструментам мышления 
                            li Широкое использование цифровых тренажеров, симуляторов, реальных кейсов.

                    .textBox__gridItem
                        h3 Технологическая платформа

                        ul
                            li Интерактивный и геймифицированный контент
                            li Использование групповых форм обучения
                            li Гибкие инструменты онлайн-занятий
                            li Возможность оперативного отслеживания прогресса слушателей.

                    .textBox__gridItem
                        h3 Уникальная среда обучения

                        ul
                            li Клубно-нетворкинговая структура с постоянной коммуникацией участников между собой и с преподавателями Бизнес-школы.

                    .textBox__gridItem
                        h3 Уникальная Экспертиза

                        ul
                            li Центр экспертизы в области мышления и получения знаний: исследования, публикации, конференции, база знаний и прочее

        // begin contactLine
        section#contactLine.contactLine.section
            .container_center
                h2.section__title 
                .contactLine__content
                    .contactLine__form
                        .form__wrapper
                            form.form
                                .form__legend Подписаться на рассылку Школы
                                .form__sub В ней мы собираем все важные новости и анонсы. Если хотите получать рассылку, пожалуйста, оставьте свои контакты здесь
                                .form_grid
                                    .form__row
                                        input(type="text", placeholder="Имя")
                                    .form__row
                                        input(type="text", placeholder="E-mail")
                                .form__action
                                    button.btn.btn_primary(type="submit") Подписаться на рассылку
                                .form__privacy
                                    input(type="checkbox" checked="") 
                                    span Отправляя форму, 
                                        a(href="", target="_blank") я даю согласие на обработку моих персональных данных

                    .contactLine__descr
                        .contactLine__title Контакты <br>школы
                        .contactLine__adress 125009 г. Москва, Газетный пер., д. 3-5, стр. 1
                        .contactLine__phone
                            a(href="tel: +7 499 110-90-08")
                                i.icon_phone 
                                span +7 499 110-90-08

                        .contactLine__img
                            img(src="img/about-4.jpg", alt="")

            .contactLine__map#map


        // end contactLine

    <script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&amp;lang=ru-RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
