extends layout/layout.pug

block content
    // begin firstScreen
    section#firstScreen.firstScreen.firstScreen_page.section
        .container_center
            .firstScreen__content
                .firstScreen__img
                    .firstScreen__pict
                        img(src="img/campus-home.jpg", alt="")
                    .firstScreen__quatro
                        span
                        span
                .firstScreen__left
                    h1.firstScreen__title Кампус
                    .firstScreen__subtitle Расположение
                    .firstScreen__sub 
                        p Кампус Бизнес-школы находится в историческом центре Москвы в шаговой доступности от Кремля в здании Московской высшей школы социальных и экономических наук. 

    // end firstScreen

    // begin campusPlace
    .container_center
        .campusPlace
            .campusPlace__text Бизнес-школа соседствует с Центральным телеграфом, Московской государственной консерваторией имени П.И.Чайковского, Центральным Манежем, Храмом Успения Пресвятой Богородицы.
            .campusPlace__img
                img(src="img/place-photo.jpg", alt="")

    // end campusPlace

    // begin campusDescr
    section.campusDescr.campusDescr_first.section
        .container_center
            .campusDescr__content
                .campusDescr__left
                    h2.campusDescr__title Учебные <br>аудитории

                .campusDescr__right
                    .campusDescr__text
                        p Интерьер МВШСЭН выполнен в современном европейском стиле, аудитории имеют прозрачные стены. Благодаря этому всегда можно видеть, как проходят занятия по всем программам, и при желании присоединиться к открытым лекциям и мастер-классам.

            .campusSlider
                .campusSlider__item
                    img(src="img/campus-1-1.jpg", alt="")
                .campusSlider__item
                    img(src="img/campus-1-2.jpg", alt="")
                .campusSlider__item
                    img(src="img/campus-1-3.jpg", alt="")

    // end campusDescr

    // begin campusDescr
    section.campusDescr.campusDescr_second.section
        .container_center
            .campusDescr__content
                .campusDescr__left
                    h2.campusDescr__title Библиотека
                .campusDescr__right
                    .campusDescr__subtitle Слушатели Школы имеют уникальную возможность пользоваться знаменитой библиотекой МВШСЭН.
                    .campusDescr__text
                        p Библиотека создает и поддерживает комфортную рабочую среду, выступая навигатором в информационном потоке и поддерживая академические процессы.
                        p Все книги находятся в открытом доступе в пространстве двухэтажного читального зала. Коллекция библиотеки регулярно обновляется.

            .campusSlider
                .campusSlider__item
                    img(src="img/campus-2-1.jpg", alt="")
                .campusSlider__item
                    img(src="img/campus-2-2.jpg", alt="")
                .campusSlider__item
                    img(src="img/campus-2-3.jpg", alt="")
                .campusSlider__item
                    img(src="img/campus-2-4.jpg", alt="")

    // end campusDescr

    // begin campusDescr
    section.campusDescr.section
        .container_center
            .campusDescr__content
                .campusDescr__left
                    h2.campusDescr__title Доступная <br>среда

                .campusDescr__right
                    .campusDescr__text
                        p В кампусе создана инфраструктура для людей с особыми потребностями. Дверные проёмы в учебные аудитории не имеют порогов и перепадов высоты. Здание оборудовано пандусами, работают два лифта для подъема маломобильных групп, нанесена контрастная разметка 
                        p Все указатели и таблички продублированы рельефно-точечным шрифтом Брайля. В аудиториях есть клавиатуры с рельефно-точечным шрифтом Брайля и стереонаушники. для передвижения слабовидящих, оборудовано место для собаки-проводника. 


    // end campusDescr
