extends layout/layout.pug
block content
    .centeredBox.whiteBox
        .emailConfirm
            .emailConfirm__content
                .centeredBox__title Подверждение почты
                .emailConfirm__text Поздравляем, вы успешно подвердили свой почтовый адрес

                a.btn.btn_primary(href="") Вернуться в личный кабинет
