extends layout/layout.pug

block content
    .container_center.errorPage
        .errorPage__quadr
        .errorPage__num 403
        .errorPage__text Упс, кажется вам сюда нельзя
        .errorPage__footer
            a.btn.btn_primary(href="#") Вернуться на главную страницу
