extends layout/layout.pug

block content
    .container_center.errorPage
        .errorPage__quadr
        .errorPage__num 500
        .errorPage__text Упс, ошибка в работе сервера.
        .errorPage__footer
            a.btn.btn_primary(href="#") Вернуться на главную страницу
            a.btn(href="#") Сообщить об ошибке
