extends layout/layout.pug

block content
    .container_center
        ul
            li
                a(href="home.html") Главная
            li
                a(href="campus.html") Кампус
            li
                a(href="program.html") Программа
            li
                a(href="about.html") О школе
