extends layout/layout.pug

block content
    .container_center
        ul
            li
                a(href="home.html") Главная
            li
                a(href="campus.html") Кампус
            li
                a(href="program.html") Программа
            li
                a(href="about.html") О школе
            li
                a(href="news.html") Новости и события
            li
                a(href="event-single.html") Событие
            li
                a(href="news-single.html") Новость
            li
                a(href="teachers.html") Преподаватели
            li
                a(href="lk.html") Личный кабинет


        // Button trigger modal messageModal
        button(class="btn btn_primary" data-toggle="modal" data-target="#messageModal") Успешная модалка
