extends layout/layout.pug

block content
    .container_center

        h2.lkContent__title Внешние страницы
        .whiteBox
            ul.list
                li
                    a(href="home.html") Главная
                li
                    a(href="campus.html") Кампус
                li
                    a(href="program.html") Программа
                li
                    a(href="about.html") О школе
                li
                    a(href="news.html") Новости и события
                li
                    a(href="event-single.html") Событие
                li
                    a(href="news-single.html") Новость
                li
                    a(href="teachers.html") Преподаватели

        h2.lkContent__title Личный кабинет - Студент
        .whiteBox
            ul.list
                li
                    a(href="lk.html") Личный кабинет - Календарь
                li
                    a(href="lk-data.html") Личный кабинет - Мои данные
                li
                    a(href="lk-courses.html") Личный кабинет - Курсы
                li
                    a(href="lk-sertificate.html") Личный кабинет - Мои сертификаты
                li
                    a(href="lk-settings.html") Личный кабинет - Настройки
                li
                    a(href="lk-notification.html") Личный кабинет - Уведомления
                li
                    a(href="lk-appraisals.html") Личный кабинет - Оценки
                li
                    a(href="lk-course.html") Курс
                li
                    a(href="lk-course-appointed.html") Курс (назначено/заполняется)
                li
                    a(href="lk-course-sent.html") Курс (Отправлено. На проверке)
                li
                    a(href="lk-course-returned.html") Курс (Возвращено)
                li
                    a(href="lk-course-success.html") Курс (Принято)
                li
                    a(href="lk-course-survey.html") Курс (Опрос 1)
                li
                    a(href="lk-course-survey-2.html") Курс (Опрос 2)
                li
                    a(href="lk-course-ms.html") MS Teams
                li
                    a(href="lk-course-lecture.html") Лекция 1
                li
                    a(href="lk-course-lecture-2.html") Лекция 2
                li
                    a(href="lk-course-survey.html") Опрос 1
                li
                    a(href="lk-course-survey-2.html") Опрос 2
                li
                    a(href="lk-course-test-1.html") Тест 1
                li
                    a(href="lk-course-test-2.html") Тест 2
                li
                    a(href="lk-course-test-3.html") Тест 3
                li
                    a(href="lk-course-test-6.html") Тест 6
                li
                    a(href="lk-course-test-4.html") Тест 7
                li
                    a(href="lk-course-test-modals.html") Тест (Модалки)
                li
                    a(href="lk-course-board-sim.html") Симулятор Board Sim
                li
                    a(href="password-recovery.html") Восстановление пароля
                li
                    a(href="password-edit.html") Изменение пароля
                li
                    a(href="email-confirmation.html") Подверждение почты
                li
                    a(href="lk-reccomend-2.html") Рекомендации 2
                li
                    a(href="lk-reccomend-3.html") Рекомендации 3
                li
                    a(href="lk-reccomend-4.html") Рекомендации 4

        h2.lkContent__title ЛК преподавателя

        .whiteBox
            ul.list
                li
                    a(href="lk-teachers.html") ЛК преподавателя
                li
                    a(href="lk-teachers-work.html") ЛК преподавателя - все работы
                li
                    a(href="lk-teachers-allcourses.html") ЛК преподавателя - управление курсами
                li
                    a(href="lk-teacher-add-course.html") ЛК преподавателя - Создание курса
                li
                    a(href="lk-teacher-add-course-1.1.html") ЛК преподавателя - Создание курса 1.1
                li
                    a(href="lk-teacher-add-course-1.2.html") ЛК преподавателя - Создание курса 1.2
                li
                    a(href="lk-teacher-add-course-1.3.html") ЛК преподавателя - Создание курса 1.3
                li
                    a(href="lk-teacher-view-task.html") ЛК преподавателя - Просмотр задания
                li
                    a(href="lk-teacher-appraisals.html") ЛК преподавателя - Оценка задания
                li
                    a(href="lk-teacher-add-course-publication.html") ЛК преподавателя - Публикация курса

        h2.lkContent__title Добавление заданий

        .whiteBox
            ul.list
                li
                    a(href="lk-add-task.html") Добавление задания: Опрос

        // Button trigger modal messageModal
        button(class="btn btn_primary" data-toggle="modal" data-target="#messageModal") Успешная модалка
