extends layout/course.pug

block courseVars
    - courseIcon = 'icon_pencil';

block course
    .lkCoursePage__head 
        .lkCoursePage__title 1.1.2 Биологические факторы влияния на мышление
        .lkCoursePage__state 1 из 4 уроков пройден
    .lkCoursePage__body
        .lkCoursePage__condition_success
            .lkCoursePage__condition
                i.icon_success-square
                span Принято
            .lkCoursePage__conditionTotal 
                i Максимум 25 баллов за решение.
                | 20 из 25 баллов получено
        h2 Тестовая лекция
        each item in ['', '', '']
            p Мышление изучает как философия, так и психология. Психология опирается в материалистической концепции на физиологию высшей нервной деятельности. В связи с этим биологические знания нам крайне необходимы. Феномен критического мышления объясняют следующие понятия: нейрогуморальная регуляция (влияние нервной системы и гормонов на регулирование когнитивных процессов), ассоциативно-рефлекторная теория И.П. Павлова, теория функциональных систем академика П. К. Анохина.

    .lkCoursTask
        .lkCoursTask__title Результаты тестирования

        .lkCoursTask__rezult
            .lkCoursTask__rezultIcon
                i.icon_check-square
            .lkCoursTask__rezultItem
                .lkCoursTask__rezultLabel Оценка за ответы на вопросы: 
                .lkCoursTask__rezultCount 23 из 30
            .lkCoursTask__rezultItem
                .lkCoursTask__rezultLabel Ваша текущая оценка: 
                .lkCoursTask__rezultCount 20 из 25 баллов получено

        .lkCoursTask__nav
            a.btn.btn_secondary(href="") Следующий урок 
                i.icon_angle
