extends layout/course.pug

block courseVars
    - courseIcon = 'icon_tasks';

block course
    .lkCoursePage__head 
        .lkCoursePage__title 1.1.2 Биологические факторы влияния на мышление
        .lkCoursePage__state 1 из 4 уроков пройден
    .lkCoursePage__body
        .lkCoursePage__condition
            i.icon_check-square
            span Назначено
        h2 Тестовое задание, здесь будет заголовок
        p Мышление изучает как философия, так и психология. Психология опирается в материалистической концепции на физиологию высшей нервной деятельности. В связи с этим биологические знания нам крайне необходимы. Феномен критического мышления объясняют следующие понятия: нейрогуморальная регуляция (влияние нервной системы и гормонов на регулирование когнитивных процессов), ассоциативно-рефлекторная теория И.П. Павлова, теория функциональных систем академика П. К. Анохина.

    .lkCoursTask
        .lkCoursTask__title Задание

        .lkCoursTask__info Пройдите тест по ссылке, которая размещена ниже. Проходной результат набрать 23 из 30 баллов.
        .lkCoursTask__link
            a(href="") Перейти на страницу тестирования

        .lkCoursTask__nav
            a.btn.btn_secondary(href="") Следующий урок 
                i.icon_angle
