extends layout/course.pug

block courseVars
    - courseIcon = 'icon_tasks';

block course
    .lkCoursePage__head 
        .lkCoursePage__title 1.1.2 Биологические факторы влияния на мышление
        .lkCoursePage__state 1 из 4 уроков пройден
    .lkCoursePage__body
        .lkCoursePage__condition
            i.icon_check-square
            span Назначено
        h2 Опрос
        p Мышление изучает как философия, так и психология. Психология опирается в материалистической концепции на физиологию высшей нервной деятельности. В связи с этим биологические знания нам крайне необходимы. Феномен критического мышления объясняют следующие понятия: нейрогуморальная регуляция (влияние нервной системы и гормонов на регулирование когнитивных процессов), ассоциативно-рефлекторная теория И.П. Павлова, теория функциональных систем академика П. К. Анохина.

    .lkCoursTask
        .lkCoursTask__item
            .lkCoursTask__head
                .lkCoursTask__question Сколько будет 33+7?
            .lkCoursTask__body
                .lkCoursTask__answer
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 40
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 34
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1" checked="")
                            span 434
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 10

        .lkCoursTask__item
            .lkCoursTask__head
                .lkCoursTask__question Сколько будет 1+1?
            .lkCoursTask__body
                .lkCoursTask__answer
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 2
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 34
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 22
                    .lkCoursTask__row
                        label.form__check
                            input(type="radio" name="quest-1")
                            span 11


        .lkCoursTask__end
            button.btn.btn_primary Отправить свои ответы

        .lkCoursTask__nav
            a.btn.btn_secondary(href="") Следующий урок 
                i.icon_angle
