extends layout/lk.pug

block variables
    - lkPage = 'Мои данные';
    - isLogin = true;

block lkcontent
    .lkContent__title Основные данные
    .lkData__head
        .lkData__content
            .lkData__avatar
                .lkData__img
                    img(src="img/lk-data.jpg", alt="")
                label.lkData__userImg() +
                    input.lkData__fileInput(type="file" name="file")
            .lkData__nameBox
                .lkData__prompt ФИО
                .lkData__name Стручков  Будимир  Егорович

    .lkContent__title Безпасность
    .lkSecurity
        .lkSecurity__title Смена пароля
        .lkSecurity__content
            .lkSecurity__item
                label.lkSecurity__label(for="") Старый пароль
                input.lkSecurity__input(type="text", placeholder="Введите старый пароль")

            .lkSecurity__item
                label.lkSecurity__label(for="") Введите новый пароль
                input.lkSecurity__input(type="text", placeholder="Придумайте новый пароль")

            .lkSecurity__item
                label.lkSecurity__label(for="") Новый пароль повторно
                input.lkSecurity__input(type="text", placeholder="Повторите новый пароль")
        .lkSecurity__action
            button.btn.btn_primary.lkSecurity__button(type="submit" ) Обновить пароль


    .lkSecurity
        .lkSecurity__title Смена e-mail
        .lkSecurity__content
            .lkSecurity__item
                label.lkSecurity__label(for="") Старый e-mail
                input.lkSecurity__input(type="email", placeholder="test@test.ru")

            .lkSecurity__item
                label.lkSecurity__label(for="") Введите новый email
                input.lkSecurity__input(type="email", placeholder="Введите новый e-mail")

            .lkSecurity__item
                label.lkSecurity__label(for="") Введите пароль
                input.lkSecurity__input(type="email", placeholder="Введите пароль")
        .lkSecurity__action
            button.btn.btn_primary.lkSecurity__button(type="submit" ) Подтвердить email
