extends layout/lk.pug

block variables
    - lkPage = '';
    - isLogin = true;
    - isCourse = false;
    - asideHide = true;
    - navHide = true;
block lkcontent
    .lkContent__title Редактирование задания: Опрос

    .lkCoursTask__title Редактирование задания: Опрос
    .lkTaskSurvey
        .lkTaskSurvey__top
            a.lkTaskSurvey__link-top(href="#", target="_blank") Просмотр
            a.lkTaskSurvey__link-top.active(href="#", target="_blank") Редактировать вопросы
        .lkCollapse(data-collapse-wrapper="")
            .lkCollapse__body.open(data-collapse-body="")    
                .form
                    .form__row.form__row_inline
                        .form__label Добавить вопрос
                        .form__field
                            .grid
                                .col.col_100
                                    +select('Выберите')
        .lkCollapse(data-collapse-wrapper="")
            .lkCollapse__body.open(data-collapse-body="")    

                .lkCoursTask__item
                    .lkCoursTask__head
                        .lkCoursTask__question 1. Сколько будет 33+7?
                            //- .lkCoursTask__status.empty Пока нет ответа
                        .lkCoursTask__counter Баллов: 3,00
                    .lkCoursTask__body
                        .lkCoursTask__answer
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText A. 
                                        p 40
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText B. 
                                        p 34
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText C. 
                                        p 43
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText D. 
                                        p 37
                a.lkTaskSurvey__edit(href="#") Редактировать
                .lkCoursTask__item
                    .lkCoursTask__head
                        .lkCoursTask__question 2. Формула Энштейна
                            //- .lkCoursTask__status.empty Пока нет ответа
                        .lkCoursTask__counter Баллов: 3,00
                    .lkCoursTask__body
                        .lkCoursTask__answer
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText A. 
                                        p E=mc
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText В. 
                                        p F=ad
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText С. 
                                        p x=2y
                            .lkCoursTask__row
                                .form__check
                                    input(type="radio" name="quest-1")
                                    span.form__checkText D. 
                                        p P=3.1417
                a.lkTaskSurvey__edit(href="#") Редактировать





    .lkTaskSurvey__linkBottom
        a.lkTaskSurvey__link(href="#", target="_blank") Объявления
        a.lkTaskSurvey__link(href="#", target="_blank") Вводная лекция
