extends layout/lk.pug

block variables
    - lkPage = '';
    - isLogin = true;
    - isCourse = false;
    - asideHide = true;
    - navHide = true;

block lkcontent
    .lkContent__title Редактирование задания: Тест

    .lkCoursTask__title Редактирование задания: Тест

    .lkEditTask__wrap
        .lkCollapse
            .form
                .form__row.form__row_inline
                    .col.col_25
                        .form__label Вопросы
                    .col.col_25
                        .lkEditTask__info 0

                .form__row.form__row_inline
                    .col.col_25
                        .form__label Итоговый балл
                    .col.col_25
                        .lkEditTask__info 0

                .form__row.form__row_inline
                    .form__label Максимальная оценка*
                        .icon_help(title="Системная подсказка")        
                    .form__field
                        .col.col_50
                            input(type="number", placeholder="Введите значение от 0 до 100")

                .form__row
                    .form__check
                        input(type="checkbox" checked="checked")
                        .form__checkText Перемешать

        .lkCollapse(data-collapse-wrapper="")
            .lkCollapse__title.open(data-collapse="") Вопросы
            // Добавить класс open для открытого состояния
            .lkCollapse__body.open(data-collapse-body="")
                .form
                    .form__row.form__row_inline
                        .form__label Добавить вопрос
                        .form__field
                            .col.col_100
                                select.select(data-placeholder="Выберите тип задания")
                                    option(value="")
                                    option(value="Добавить разрыв страницы") Добавить разрыв страницы
                                    option(value="Короткий ответ") Короткий ответ
                                    option(value="Множественный выбор") Множественный выбор
                                    option(value="Множественный выбор (с показателями)") Множественный выбор (с показателями)
                                    option(value="Пояснение") Пояснение
                                    option(value="Числовой ответ") Числовой ответ
                                    option(value="Эссе") Эссе
                                    option(value="Информация") Информация





        .lkEditTask__more
            a(href="#") ОБЪЯВЛЕНИЯ
            a(href="#") Вводная лекция
