extends layout/lk.pug

block variables
    - lkPage = '';
    - isLogin = true;
    - isCourse = false;
    - asideHide = true;
    - navHide = true;
block lkcontent
    .lkContent__title Редактирование задания: Симулятор

    .lkCoursTask__title Редактирование задания: Симулятор
    .lkTaskSimulator__title Потоки
    .lkTaskSimulatorFlow
        .lkTaskSimulatorFlow__table
            table
                thead
                    tr
                        th Поток
                        th Действие

                tbody
                    tr
                        td(data-th="Поток") Тестовый поток 1
                        td.lkTaskSimulatorFlow__table-icon(data-th="Действие") 
                            i.icon_edit
                            i.icon_download
                            i.icon_delete_round
                    tr
                        td(data-th="Поток") Тестовый поток 2
                        td.lkTaskSimulatorFlow__table-icon(data-th="Действие") 
                            i.icon_edit
                            i.icon_download
                            i.icon_delete_round
                    tr
                        td(data-th="Поток") Тестовый поток 3
                        td.lkTaskSimulatorFlow__table-icon(data-th="Действие") 
                            i.icon_edit
                            i.icon_download
                            i.icon_delete_round
                    tr
                        td(data-th="Поток") Тестовый поток 4
                        td.lkTaskSimulatorFlow__table-icon(data-th="Действие") 
                            i.icon_edit
                            i.icon_download
                            i.icon_delete_round
                    tr
                        td(data-th="Поток") Тестовый поток 5
                        td.lkTaskSimulatorFlow__table-icon(data-th="Действие") 
                            i.icon_edit
                            i.icon_download
                            i.icon_delete_round
            .lkTaskSimulatorGroup__bottom
                button.btn.btn_primary Создать поток
