extends layout/lk.pug

block variables
    - lkPage = '';
    - isLogin = true;
    - isCourse = false;
    - asideHide = true;
    - navHide = true;
block lkcontent
    .lkContent__title Редактирование задания: Опрос

    .lkCoursTask__title Редактирование задания: Опрос
    .lkTaskSurvey
        .lkTaskSurvey__top
            a.lkTaskSurvey__link-top.active(href="#", target="_blank") Просмотр
            a.lkTaskSurvey__link-top(href="#", target="_blank") Редактировать вопросы


        .lkCollapse(data-collapse-wrapper="")
            .lkCollapse__title.open(data-collapse="") Описание
            .lkCollapse__body.open(data-collapse-body="")
                .lkTaskSurvey__desc Мышление изучает как философия, так и психология. Психология опирается в материалистической концепции на физиологию высшей нервной деятельности. В связи с этим биологические знания нам крайне необходимы.  За 29 уроков вы научитесь принимать решения.

        .lkCollapse(data-collapse-wrapper="")
            .lkCollapse__title.open(data-collapse="") Просмотр
            .lkCollapse__body.open(data-collapse-body="")
                .lkTaskSurvey__row 
                    .lkTaskSurvey__label Отправлено ответов
                        .icon_help(title="Системная подсказка")
                    .lkTaskSurvey__value 0

                .lkTaskSurvey__row 
                    .lkTaskSurvey__label Вопросов
                        .icon_help(title="Системная подсказка")
                    .lkTaskSurvey__value 0

                .lkTaskSurvey__action
                    button.btn.btn_sm.lkTeachers__btn Ответьте на вопросы

        .lkTaskSurvey__linkBottom
            a.lkTaskSurvey__link(href="#", target="_blank") Объявления
            a.lkTaskSurvey__link(href="#", target="_blank") Вводная лекция
