extends layout/lk.pug

block variables
    - lkPage = 'Настройки';
    - isLogin = true;
    - isCourse = false;

block lkcontent
    .lkContent__title Уведомления

    .lkNotice
        ul.lkNotice__list
            li.lkNotice__item
                input(type="checkbox" checked="")
                span.lkNotice__content Получать уведомления о проверенных работах

            li.lkNotice__item
                input(type="checkbox")
                span.lkNotice__content Получать уведомления о проверенных работах
                    input.lkNotice__quantity(type="number" value="5")
                    span дней

            li.lkNotice__item
                input(type="checkbox")
                span.lkNotice__content Получать уведомления о проверенных работах

            li.lkNotice__item
                input(type="checkbox")
                span.lkNotice__content Получать уведомления о проверенных работах
                    input.lkNotice__quantity(type="number" value="5")
                    span дней


    .lkContent__title История входа

    .lkLoginHistory
        ul.lkLoginHistory__list
            each item in ['', '', '']
                li.lkLoginHistory__item
                    span.lkLoginHistory__text.lkLoginHistory__date Выполнен вход 01.04.2021
                    span.lkLoginHistory__text.lkLoginHistory__device Windows 10 - Opera в 15:39
        .lkLoginHistory__action
            a(href="").btn.btn_sm.lkLoginHistory__button Выйти со всех устройств







        //- include ../pug/inc/advProg
