extends layout/lk.pug

block variables
    - lkPage = 'Оценки';
    - isLogin = true;
    - isCourse = false;
    - asideHide = true;
    - navHide = true;

block lkcontent
    .lkContent__title Создание курса: заполнение контентом
