extends layout/lk.pug

block variables
    - lkPage = 'Личный кабинет';
    - isLogin = true;
    - isCourse = false;

block lkcontent
    .lkContent__title Сводка по курсам

    .lkProgress
        .lkProgress__row
            .lkProgress__img
                img(src="img/program-1.jpg", alt="")
            .lkProgress__content
                .lkProgress__name Стратегическое мышление для бизнеса и жизни
                .lkProgress__bar
                    span(style="width: 33%; background: #FFA800")
                .lkProgress__label 33% выполнено


        .lkProgress__row
            .lkProgress__img
                img(src="img/program-4.jpg", alt="")
            .lkProgress__content
                .lkProgress__name Критическое мышление в управлении и предпринимательстве
                .lkProgress__bar
                    span(style="width: 77%; background: #169F62")
                .lkProgress__label 77% выполнено

    .lkContent__title Календарь событий
    .lkCalendar
        .lkCalendar__content
            img(src="img/calendar.jpg", alt="")

    .lkContent__title Рекомендации
    .lkRecommend
        .lkRecommend__slider

            .lkRecommend__plate
                .lkRecommend__item
                    .lkRecommend__left
                        img(src="img/recommend-1.jpg", alt="")
                    .lkRecommend__right
                        .lkRecommend__timeBox
                            img.time__icon(src="img/time.svg", alt="")
                            span.lkRecommend__time 16 часов
                        a.lkRecommend__title(href="#") От mvp до pitchdeck: инновационное мышление в бизнес-процессах 
                        .lkRecommend__action
                            .lkRecommend__buttonBox
                                button.btn.btn_primary.lkRecommend__button(type="button" ) Подробнее
                            .lkRecommend__ratingBox
                                .lkRecommend__full
                                    .lkRecommend__total (4.2)
                                    .lkRecommend__rate
                                        .lkRecommend__label 1045 оценок
                                        .rating
                                            .rating__stars
                                            .rating__full(style="width: 84%")
                //- .lkRecommend__buttonBox.lkRecommend__buttonBox-mob
                //-     button.btn.btn_primary.lkRecommend__button(type="button" ) Подробнее

            .lkRecommend__plate
                .lkRecommend__item
                    .lkRecommend__left
                        img(src="img/recommend-2.jpg", alt="")
                    .lkRecommend__right
                        .lkRecommend__timeBox
                            img.time__icon(src="img/time.svg", alt="")
                            span.lkRecommend__time 16 часов
                        a.lkRecommend__title(href="#") Бизнес-психология
                        .lkRecommend__action
                            .lkRecommend__buttonBox
                                button.btn.btn_primary.lkRecommend__button(type="button" ) Подробнее
                            .lkRecommend__ratingBox
                                .lkRecommend__full
                                    //- .lkRecommend__total (4.2)
                                    //- .lkRecommend__rate
                                    //-     .lkRecommend__label 1045 оценок
                                    //-     .rating
                                    //-         .rating__stars
                                    //-         .rating__full(style="width: 84%")
    include ../pug/inc/advProg
