extends layout/layout.pug

block content
    .postPage
        .container_center
            ul.breadcrumb
                li
                    a(href="") Новости
                li
                    a(href="") События
                li
                    a(href="") Бизнес-школа на Газетном вошла в топ-10 лучших бизнес-школ Европы

            .postPage__body
                .postPage__media
                    .postPage__img
                        img(src="img/new.jpg", alt="")

                .postPage__content
                    h1.pageTitle Бизнес-школа на Газетном вошла в топ-10 лучших бизнес-школ Европы

                    .postPage__date 22.07.2021
                    .textBox
                        h3 Бизнес-школа на Газетном заняла 9-ю строчку в рейтинге ведущих бизнес-школ по версии Financial Times.

                        p Financial Times опубликовал ежегодный рейтинг лучших бизнес-школ за 2022 год. Из 90 бизнес-школ, представленных в рейтинге, только две российские: Бизнес-школа на Газетном и Институт бизнеса и делового администрирования (ИБДА) РАНХиГС.
                        p В топ-10 рейтинга Бизнес-школа на Газетном соседствует с Лондонской школой бизнеса, Школой бизнеса имени Бута (США, Чикаго), IESE (Испания) и Йельской школой менеджмента (США, Коннектикут). Первое место заняла бизнес-школа INSEAD (Франция).
                        p При формировании рейтинга ведущих бизнес-школ Европы Financial Times учитывает позиции учреждений в пяти рейтингах, публикуемых издательством: в рейтингах программ MBA, Executive MBA, Masters in Management и двух рейтингах корпоративных программ. При оценке используются такие индикаторы, как размер и рост зарплаты выпускников, их карьерный рост, международная академическая мобильность, научно-исследовательская работа в бизнес-школе и т.д.

                    .popolarList
                        .popolarList__title Популярные новости

                        .popolarList__grid
                            each item in [{date: '22.07.2021', name: 'Предпринимательское мышление'}, {date: '22.07.2021', name: 'Давно выяснено, что при оценке дизайна'}]
                                .popolarList__item
                                    .popolarList__date=item.date
                                    .popolarList__link
                                        a(href="")=item.name
