extends layout/layout.pug
block content
    .centeredBox.whiteBox
        .form
            .centeredBox__title Изменение пароля личного кабинета
            p.muted  Пароль должен состоять из восьми или более символов латинского алфавита, содержать заглавные и строчные буквы, цифры и специальные символы  (*, %, $, @ и т.д.)
            .form__label Логин
            .form__row
                b Paramonov@cdo-global.ru
            label.form__label Введите старый пароль
            .form__row
                input(type="password" placeholder="*************")

            label.form__label Введите новый пароль
            .form__row
                input(type="password" placeholder="Введите новый пароль")

            label.form__label Повторите пароль
            .form__row
                input(type="password" placeholder="*************")
                .form__valid
                    i.icon_check 
                    | Пароли совпадают
                .form__valid
                    i.icon_close 
                    | Пароли не совпадают

            .centeredForm__action
                button.btn.btn_primary(data-toggle="modal" data-target="#restoreModal") Сохраните пароль


    // Begin Modal restoreModal
    .modal.fade.modalNotice#restoreModal
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-title Изменение пароля
                .modalNotice__text Ваш пароль был успешно изменен
                .modalNotice__action
                    button.btn.btn_primary(data-dismiss="modal") Понятно
    // End modal restoreModal
