extends layout/layout.pug
block content
    .centeredForm.whiteBox
        .form
            .centeredBox__title Личный кабинет <br>Восстановление пароля
            p Если вы забыли пароль, введите E-mail. Вам будет выслано письмо с инструкциями для смены пароля. 
            .form__row
                input(type="email", placeholder="Введите Email")
            p Или вы можете ввести номер телефона. На него будет отправлено СМС с кодом подтверждения.
            .form__row
                input(type="tel", placeholder="Введите телефон")

            .centeredForm__action
                button.btn.btn_primary(data-toggle="modal" data-target="#restoreModal") Выслать


    // Begin Modal restoreModal
    .modal.fade.restoreModal.modalNotice.modalNotice_lg#restoreModal
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-title Запрос на восстановление пароля
                .modalNotice__text Письмо с инструкциями по восстановлению пароля отправлено  вам на электронную почту
                .modalNotice__action
                    button.btn.btn_primary(data-dismiss="modal") Понятно
    // End modal restoreModal
