extends layout/layout.pug

block content
    // begin firstScreen
    section#firstScreen.firstScreen.firstScreen_page.section
        .container_center
            .firstScreen__content
                .firstScreen__img
                    .firstScreen__pict
                        img(src="img/program-home.jpg", alt="")
                    .firstScreen__quatro
                        span
                        span
                .firstScreen__left
                    h1.firstScreen__title Критическое мышление в управлении и предпринимательстве
                    .firstScreen__action
                        a.btn(href="#") Записаться

    // end firstScreen
