extends layout/layout.pug
block content

    // begin teachers
    section#teachers.teachers.section
        .container_center
            h1.pageTitle Преподаватели
            .teachers__content

                .teachers__item
                    .teachers__imgBox
                        img.teachers__img(src="img/teacher-1.jpg", alt="")
                    .teachers__text
                        .teachers__name Олег Бакун
                        .teachers__desc DBA, корпоративный директор, эксперт в области стратегического управления и проектов преобразований Корпоративное управление. Более 13-ти лет опыта работы в 25-ти советах директоров на должностях Председателя комитета по стратегии, Председателя совета директоров, советника Председателя СД, Старшего независимого директора. Реализация проектов внедрения системы Корпоративного управления и повышения эффективности работы СД. Отраслевая экспертиза. Торговля, девелопмент, производство FMCG сектора, управленческое консультирование.


                        a.teachers__more(href="#" data-toggle="modal" data-target="#teacher-1") Подробнее

                    // Begin Modal teacherModal
                    .modal.fade.teacherModal#teacher-1
                        .modal-dialog
                            .modal-content
                                a(href="#" class="modal-close" data-dismiss="modal")
                                .teacherModal__photo
                                    img(src="img/teacher-1.jpg", alt="")
                                .teacherModal__name Олег Бакун
                                .teacherModal__text DBA, корпоративный директор, эксперт в области стратегического управления и проектов преобразований Корпоративное управление. Более 13-ти лет опыта работы в 25-ти советах директоров на должностях Председателя комитета по стратегии, Председателя совета директоров, советника Председателя СД, Старшего независимого директора. Реализация проектов внедрения системы Корпоративного управления и повышения эффективности работы СД. Отраслевая экспертиза. Торговля, девелопмент, производство FMCG сектора, управленческое консультирование.

                    // End modal teacherModal

                .teachers__item
                    .teachers__imgBox
                        img.teachers__img(src="img/teacher-2.jpg", alt="")
                    .teachers__text
                        .teachers__name Андрей Гершун
                        .teachers__desc Управляющий партнер МАГ КОНСАЛТИНГ Профессиональный консультант с 30 летним опытом работы в области управленческого учета, МСФО, бюджетирования, стратегического консалтинга, построения сбалансированной системы показателей, ключевых показателей эффективности KPI, построения системы управления организацией, управления изменениями, организационного дизайна, реинжиниринга бизнес-процессов, систем мотивации, корпоративного управления, внедрения ERP- и BI-систем Руководил и участвовал более чем в 200 проектах управленческого консалтинга Старший преподаватель программ MBA и EMBA в МИРБИС, НИУ ВШЭ и РАНХиГС по стратегическому менеджменту, управлению эффективностью, управлению изменениями. Автор популярных книг и пособий по стратегическому менеджменту.

                        a.teachers__more(href="#" data-toggle="modal" data-target="#teacher-2") Подробнее

                    // Begin Modal teacherModal
                    .modal.fade.teacherModal#teacher-2
                        .modal-dialog
                            .modal-content
                                a(href="#" class="modal-close" data-dismiss="modal")
                                .teacherModal__photo
                                    img(src="img/teacher-2.jpg", alt="")
                                .teacherModal__name Андрей Гершун
                                .teacherModal__text Управляющий партнер МАГ КОНСАЛТИНГ Профессиональный консультант с 30 летним опытом работы в области управленческого учета, МСФО, бюджетирования, стратегического консалтинга, построения сбалансированной системы показателей, ключевых показателей эффективности KPI, построения системы управления организацией, управления изменениями, организационного дизайна, реинжиниринга бизнес-процессов, систем мотивации, корпоративного управления, внедрения ERP- и BI-систем Руководил и участвовал более чем в 200 проектах управленческого консалтинга Старший преподаватель программ MBA и EMBA в МИРБИС, НИУ ВШЭ и РАНХиГС по стратегическому менеджменту, управлению эффективностью, управлению изменениями. Автор популярных книг и пособий по стратегическому менеджменту.

                    // End modal teacherModal

                .teachers__item
                    .teachers__imgBox
                        img.teachers__img(src="img/teacher-3.jpg", alt="")
                    .teachers__text
                        .teachers__name Татьяна Нистратова
                        .teachers__desc МВА, консультант по организационному развитию, бизнес-тренер, Executive-коуч. Генеральный директор ООО «Новые технологии», ООО «АМТ» Сертифицированный в EACEIP тренер и тьютор по эмоциональному интеллекту. Имеет более 25 лет опыта работы бизнес-тренером и многолетнюю практику в качестве коуча и консультанта для таких компаний, как Сбербанк, РЖД, Лукойл, JTI Petro, Marvel, Pfizer и многих других. Общий стаж управленческой деятельности - более 15 лет.

                        a.teachers__more(href="#" data-toggle="modal" data-target="#teacher-3") Подробнее

                    // Begin Modal teacherModal
                    .modal.fade.teacherModal#teacher-3
                        .modal-dialog
                            .modal-content
                                a(href="#" class="modal-close" data-dismiss="modal")
                                .teacherModal__photo
                                    img(src="img/teacher-3.jpg", alt="")
                                .teacherModal__name Татьяна Нистратова
                                .teacherModal__text МВА, консультант по организационному развитию, бизнес-тренер, Executive-коуч. Генеральный директор ООО «Новые технологии», ООО «АМТ» Сертифицированный в EACEIP тренер и тьютор по эмоциональному интеллекту. Имеет более 25 лет опыта работы бизнес-тренером и многолетнюю практику в качестве коуча и консультанта для таких компаний, как Сбербанк, РЖД, Лукойл, JTI Petro, Marvel, Pfizer и многих других. Общий стаж управленческой деятельности - более 15 лет.

                    // End modal teacherModal

                .teachers__item
                    .teachers__imgBox
                        img.teachers__img(src="img/teacher-4.jpg", alt="")
                    .teachers__text
                        .teachers__name Ольга Малиновская
                        .teachers__desc (PhD/DPhil, Oxon) выпускница Оксфордского университета, Университета Сорбонны (МА), Кларк университета (МА), Северо-восточного университета в Бостоне (BA). Является обладателем диплома в сфере бизнес-администрирования Associate Degree Quincy College. Имеет богатый опыт работы в бизнес-структурах («Бостон Консалтинг» USA, «Герсон» London, UK), а также преподавательский и административный опыт в высших учебных заведениях США, Франции, Испании и Великобритании. В РАНХиГС с 2019 года заведует кафедрой гуманитарных дисциплин.


                        a.teachers__more(href="#" data-toggle="modal" data-target="#teacher-4") Подробнее

                    // Begin Modal teacherModal
                    .modal.fade.teacherModal#teacher-4
                        .modal-dialog
                            .modal-content
                                a(href="#" class="modal-close" data-dismiss="modal")
                                .teacherModal__photo
                                    img(src="img/teacher-4.jpg", alt="")
                                .teacherModal__name Ольга Малиновская
                                .teacherModal__text (PhD/DPhil, Oxon) выпускница Оксфордского университета, Университета Сорбонны (МА), Кларк университета (МА), Северо-восточного университета в Бостоне (BA). Является обладателем диплома в сфере бизнес-администрирования Associate Degree Quincy College. Имеет богатый опыт работы в бизнес-структурах («Бостон Консалтинг» USA, «Герсон» London, UK), а также преподавательский и административный опыт в высших учебных заведениях США, Франции, Испании и Великобритании. В РАНХиГС с 2019 года заведует кафедрой гуманитарных дисциплин.

                    // End modal teacherModal

                .teachers__item
                    .teachers__imgBox
                        img.teachers__img(src="img/pr-teacher-1.jpg", alt="")
                    .teachers__text
                        .teachers__name Михаил Фридман
                        .teachers__desc Доктор философских наук, кандидат педагогических наук, профессор РАНХиГС при президенте РФ, академик Международной академии информатизации в генеральном консультативном статусе ООН, член Зиновьевского клуба МИА «Россия сегодня», бизнес-тренер, коуч, консультант.

                        a.teachers__more(href="#" data-toggle="modal" data-target="#teacher-5") Подробнее

                    // Begin Modal teacherModal
                    .modal.fade.teacherModal#teacher-5
                        .modal-dialog
                            .modal-content
                                a(href="#" class="modal-close" data-dismiss="modal")
                                .teacherModal__photo
                                    img(src="img/teacher-5.jpg", alt="")
                                .teacherModal__name Михаил Фридман
                                .teacherModal__text Доктор философских наук, кандидат педагогических наук, профессор РАНХиГС при президенте РФ, академик Международной академии информатизации в генеральном консультативном статусе ООН, член Зиновьевского клуба МИА «Россия сегодня», бизнес-тренер, коуч, консультант.

                    // End modal teacherModal

                .teachers__item
                    .teachers__imgBox
                        img.teachers__img(src="img/teacher-6.jpg", alt="")
                    .teachers__text
                        .teachers__name Ирина Чеканава
                        .teachers__desc (PhD/DPhil, Oxon) выпускница Оксфордского университета, Университета Сорбонны (МА), Кларк университета (МА), Северо-восточного университета в Бостоне (BA). Является обладателем диплома в сфере бизнес-администрирования Associate Degree Quincy College. Имеет богатый опыт работы в бизнес-структурах («Бостон Консалтинг» USA, «Герсон» London, UK), а также преподавательский и административный опыт в высших учебных заведениях США, Франции, Испании и Великобритании. В РАНХиГС с 2019 года заведует кафедрой гуманитарных дисциплин.
                        //- comment

                        a.teachers__more(href="#" data-toggle="modal" data-target="#teacher-6") Подробнее

                    // Begin Modal teacherModal
                    .modal.fade.teacherModal#teacher-6
                        .modal-dialog
                            .modal-content
                                a(href="#" class="modal-close" data-dismiss="modal")
                                .teacherModal__photo
                                    img(src="img/teacher-6.jpg", alt="")
                                .teacherModal__name Ирина Чеканава
                                .teacherModal__text (PhD/DPhil, Oxon) выпускница Оксфордского университета, Университета Сорбонны (МА), Кларк университета (МА), Северо-восточного университета в Бостоне (BA). Является обладателем диплома в сфере бизнес-администрирования Associate Degree Quincy College. Имеет богатый опыт работы в бизнес-структурах («Бостон Консалтинг» USA, «Герсон» London, UK), а также преподавательский и административный опыт в высших учебных заведениях США, Франции, Испании и Великобритании. В РАНХиГС с 2019 года заведует кафедрой гуманитарных дисциплин.

                    // End modal teacherModal


    // end teachers
