.firstScreen {
    background: #006EFF;
    color: $color_withe;

    .container_center {
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__left {
        padding: 2.1em 1.1em 0;
        flex: none;

        @media (min-width: 768px) {
            padding: 4.9em 0 8.6em;
            order: 1;
            width: 47em;
            margin-right: 2em;
        }
    }

    &__title {
        margin: 0 0 0.9em;
        font-size: 1.65em;
        font-family: $second_font_family;
        font-weight: 400;
        line-height: 1.2;

        @media (min-width: 768px) {
            line-height: 1.16;
            font-size: $size_xxl;
            margin: 0 0 0.28em;
        }
    }

    &__sub {
        // font-size: $size_xxs;
        margin-bottom: 2em;
        color: rgba($color_withe, .65);

        @media (min-width: 768px) {
            font-size: $size_xxs;
            max-width: 31em;
            margin-bottom: 1.2em;
            color: $color_withe;
        }
    }

    &__action {
        margin-bottom: 1em;

        .btn {
            width: 100%;
            padding: 0.8em 2em;
            font-size: $size_xxs;
            border-color: $color_withe;
            box-shadow: 0.2em 0.2em 0 #3D3098;

            @media (min-width: 768px) {
                padding: 1.25em 2em;
                width: auto;
            }

            &:hover {
                border-color: $color_withe;
                background-color: $color_withe;
                color: rgba(29, 29, 27, 0.5);
                box-shadow: 0.2em 0.2em 0 #3D3098;
            }

            &:active {
                border-color: $color_withe;
                background-color: $color_withe;
                color: rgba(29, 29, 27, 0.5);
                box-shadow: 0 0 0 #3D3098;
            }
        }
    }

    &__img {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-grow: 1;
        min-width: 0;
        background-color: $color_withe;

        @media (min-width: 768px) {
            order: 2;
        }
    }

    &__pict {
        width: 100%;
        height: 12.8em;

        @media (min-width: 768px) {
            height: 100%;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__quatro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .slick-slider & {
            span {
                &:after,
                &:before {
                    content: '';
                    width: 102%;
                    height: 102%;
                    top: 50%;
                    left: 50%;
                    display: block;
                    position: absolute;
                    background: #006EFF;
                    transform: translate(-50%, -50%);
                    transition-duration: 0.5s;
                    transition-delay: 0.6s;
                    transition-property: width, height, left, top;

                    .slick-current & {
                        width: $quat_size_sm;
                        height: $quat_size_sm;
                        top: calc(#{$quat_size_sm} / 2);
                        left: calc(#{$quat_size_sm} / 2);

                        @media (min-width: 768px) {
                            width: $quat_size;
                            height: $quat_size;
                            top: calc(#{$quat_size} / 2);
                            left: calc(#{$quat_size} / 2);
                        }
                    }
                }

                &:before {}

                &:after {}

                .slick-current & {
                    &:nth-child(1) {
                        &:before {
                            background: #3D3098;
                        }

                        &:after {
                            top: calc(100% - (#{$quat_size_sm} / 2));
                            z-index: 3;
                            @media (min-width: 768px) {
                                top: calc(82% - (#{$quat_size} / 2));
                            }
                        }
                    }

                    &:nth-child(2) {
                        &:before {
                            left: calc(100% - (#{$quat_size_sm} / 2));
                            @media (min-width: 768px) {
                                left: calc(100% - (#{$quat_size} / 2));
                            }
                        }

                        &:after {
                            left: calc(100% - (#{$quat_size_sm} / 2));
                            top: calc((#{$quat_size_sm} * 2) + (#{$quat_size_sm} / 2));

                            @media (min-width: 768px) {
                                left: calc(100% - (#{$quat_size} / 2));
                                top: calc((#{$quat_size} * 2) + (#{$quat_size} / 2));
                            }
                        }
                    }

                    &:nth-child(3) {
                        &:before {
                            top: calc(100% - (#{$quat_size_sm} / 2));
                            left: calc(100% - (#{$quat_size_sm} / 2));
                            background: $color_withe;

                            @media (min-width: 768px) {
                                top: calc(100% - (#{$quat_size} / 2));
                                left: calc(100% - (#{$quat_size} / 2));
                            }
                        }

                        &:after {
                            top: calc(100% - (#{$quat_size_sm} / 2));
                            left: calc(100% - #{$quat_size_sm} - (#{$quat_size_sm} / 2));

                            @media (min-width: 768px) {
                                top: calc(100% - (#{$quat_size} / 2));
                                left: calc(100% - #{$quat_size} - (#{$quat_size} / 2));
                            }
                        }
                    }
                }
            }
        }
    }

    &_campus {
        .firstScreen {
            &__content {
                margin: 0 -1.1em;
                padding: 1.4em 0 0;

                @media (min-width: 768px) {
                    margin: 0;
                    padding: 0;
                }
            }

            &__left {
                order: 1;

                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 3.4em;
                }
            }

            &__title {
                flex-grow: 1;
            }

            &__subtitle {
                font-family: $second_font_family;
                font-size: 1.22em;
                margin-bottom: 0.5em;

                @media (min-width: 768px) {
                    font-size: 1.85em;
                }
            }

            &__sub {
                color: $color_withe;

                @media (min-width: 768px) {
                    font-size: 1.25em;
                    line-height: 1.4;
                    max-width: 24em;
                }
            }

            &__img {
                order: 2;
                overflow: inherit;

                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                @media (min-width: 768px) {
                    margin-right: -2em;
                }
            }

            &__pict {
                height: 13.1em;

                @media (min-width: 768px) {
                    height: 30.6em;
                }
            }

            &__quatro {
                span {
                    &:after,
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: $quat_size_sm;
                        height: $quat_size_sm;
                        background: #F6F6F6;

                        @media (min-width: 768px) {
                            background: $color_withe;
                            width: $quat_size;
                            height: $quat_size;
                        }
                    }

                    &:before {}

                    &:after {}

                    &:nth-child(1) {
                        &:before {
                            right: 0;
                            bottom: 0;
                        }

                        &:after {
                            left: 0;
                            bottom: 0;

                            @media (min-width: 768px) {
                                left: -$quat_size;
                                bottom: $quat_size;
                            }
                        }
                    }

                    &:nth-child(2) {
                        &:before {
                            background: #006EFF;
                            right: 0;
                            bottom: 0;

                            @media (min-width: 768px) {
                                left: 0;
                                right: auto;
                            }
                        }

                        &:after {
                            background: #3D3098;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}
