.homeThumbs {
    margin-right: -1em;

    @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 51em;
        margin-right: 0;
    }

    &__item {
        padding: 0.3em 1em 3.5em 0;
        background: rgba(61, 48, 152, 0);
        cursor: pointer;
        transition: background 0.5s;

        @media (min-width: 768px) {
            padding: 2em 4em 2em 2em;

            &.slick-current {
                background: rgba(61, 48, 152, 0.2);
                cursor: default;
            }
        }

    }

    &__content {

        @media (min-width: 768px) {
            position: relative;
            display: flex;
            align-items: center;
            padding-bottom: 3px;
        }
    }

    &__img {
        flex: none;
        width: 100%;
        height: 5.6em;
        margin-bottom: 0.85em;

        @media (min-width: 768px) {
            margin-right: 1em;
            margin-bottom: 0;
            width: 4.69em;
            height: 4.69em;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        padding-bottom: 0.1em;
        transition: color 0.5s;
        color: rgba($color_withe, .65);

        @media (min-width: 768px) {
            line-height: 1.3;

            .slick-current & {
                color: $color_withe;
            }
        }

    }

    &__progress {
        @media (min-width: 768px) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(255, 255, 255, 0.25);
            height: 2px;
            display: none;
            overflow: hidden;

            .slick-current & {
                display: block;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: block;
                animation: progress linear;
                background-color: $color_withe;
            }
        }
    }

}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
