.lightbox {
    &Modal {
        .modal-dialog {
            max-width: none;

            @media (min-width: 768px) {
                padding-left: 5em;
                padding-right: 5em;
            }
        }

        .modal-close {
            color: $color_withe;
            right: 0;
            top: 0;
            width: 4.4em;
            height: 4.4em;
            background: #006EFF;
            z-index: 11;

            &:after,
            &:before {
                width: 50%;
            }

            &:before {}

            &:after {}
        }

        .slick-arrow {

            @media (min-width: 768px) {
                position: absolute;
                z-index: 10;
                top: 50%;
                width: 4.4em;
                height: 4.4em;
                cursor: pointer;
                text-decoration: none;
                transform: translateY(-50%);
                // background: transparent url("#{$fancybox-image-url}/blank.gif");
                /* helps IE */
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                background: $color_withe;
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                    content: '';
                    display: block;
                    width: 1em;
                    height: 1em;
                    border-right: 1px solid;
                    border-top: 1px solid;
                    transform: rotate(45deg);
                    margin-left: -.3em;
                }

                &.slick-disabled {
                    opacity: 0;
                    cursor: default;
                }

                &.lightboxSlider {
                    &__next {
                        right: 0;
                    }

                    &__prev {
                        left: 0;

                        &:before {
                            transform: rotate(225deg);
                        }
                    }
                }
            }
        }
    }

    &Slider {
        margin: auto;

        @media (min-width: 768px) {
            margin: auto;
            width: 130vh;
        }

        img {
            display: block;
            margin-bottom: 1em;
        }

        &__item {}

        &__title {
            text-align: center;
            // display: none;
            opacity: 0;
            color: $color_withe;

            .slick-current & {
                opacity: 1;
            }
        }

    }
}
