.lkTeachers {
    &__content {}

    &__row {
        align-items: center;
    }

    &__label {}

    &__label-active {}

    &__label-inactive {
        color: rgba(29, 29, 27, 0.5);
    }

    &__work {
        margin: 0 -0.9475em;

    }

    &__item {
        background-color: #fff;
        padding: 1.3125em 0.9375em;
        @media (min-width: 768px) {
            padding: 1.9375em 2.375em 2.75em;
            margin-bottom: 1.875em;

        }
    }

    &__workContent {

        @media (min-width: 768px) {
            display: flex;
            padding-top: 0.7em;
            justify-content: space-between;

        }
    }

    &__column {
        margin-bottom: 20px;
        @media (min-width: 768px) {
            margin: 0;
        }
    }

    &__column-name {
        color: rgba(29, 29, 27, 0.5);
        margin-bottom: 0.3125em;
        font-size: 0.875em;
        @media (min-width: 768px) {
            font-size: 0.9375em;
        }
    }

    &__column-content {
        font-weight: 400;
        font-size: 0.875em;
        @media (min-width: 768px) {
            font-size: 0.9375em;
        }
    }

    &__button {
        width: 100%;
        @media (min-width: 768px) {
            width: inherit;
        }
    }

    &__column-not-verified {
        color: #EB592B;
    }

    &__column-verified {
        color: #77B859;
    }

    &__action {
        padding-top: 1.375em;

        @media (min-width: 768px) {
            padding-top: 2.375em;
        }
    }

    &__btn {
        padding: 0.625em 2.3125em;
    }

    &__btnBox {
        display: flex;
        justify-content: center;
        margin-bottom: 3.125em;

    }
}

.lkProgress__img-teachers {
    width: 7.5625em;
    height: 10.6875em;
}

.lkRecommend__timeBox-lkTeachers {
    justify-content: space-between;
}

.lkRecommend__timeBox-left {
    display: flex;
    align-items: center;

}

.lkRecommend__timeBox-right {
    display: flex;
    align-items: center;
}
