.lkTeachersWork {
    &__top {
        display: flex;
        justify-content: space-between;
        max-width: 19.375em;
        margin-bottom: 2.0625em;
    }

    &__link {
        display: block;
        color: #000;

        &.active {
            color: #006EFF;
            text-decoration: underline;

        }
    }
}
