.lk {}

.lkCalendar {
    margin-bottom: 2em;

    &__content {}

}

.lkRecommend {
    margin: 0 -1.1em;
    @media (min-width: 768px) {
        margin: 0;

    }

    &__slider {}

    &__item {
        background-color: #fff;
        display: flex !important;
        align-items: flex-start;
        width: 100%;
        padding: 0.9375em 1.25em;
        margin-bottom: 2em;
        min-height: 14.8125em;
        @media (min-width: 768px) {
            padding: 0;

        }
    }

    &__left {
        width: 3.5625em;
        height: 3.625em;
        flex: none;

        @media (min-width: 768px) {
            width: 14.5em;
            height: 16.375em;

        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        flex-grow: 0;
        width: 100%;
        padding-bottom: 1em;
        padding-left: 1em;
        @media (min-width: 768px) {

            padding: 1.44em 4.38em 1em 2em;
            height: 16.375em;
        }

    }

    &__timeBox {
        display: flex;
        align-items: center;
    }

    &__time {
        margin-left: 0.6em;
        font-size: 1em;
        line-height: 1;
        color: rgba(29, 29, 27, 0.5);
        @media (min-width: 768px) {
            margin-left: 1.25em;

        }

    }

    &__title {
        display: block;
        font-family: $second_font_family;
        font-size: 1em;
        line-height: 1.4;
        color: #1D1D1B;
        margin-top: 1em;

        @media (min-width: 768px) {
            font-size: 1.625em;

        }

    }

    &__action {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 2em;

        }
    }

    &__buttonBox {
        // margin-left: 0 -3.5625em 0 -3.5625em;
        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &__button {
        width: 100%;
        @media (min-width: 768px) {}
    }

    &__ratingBox {
        order: -1;
        padding-top: 1.1875em;
        padding-bottom: 1.1875em;
        width: 100%;
        @media (min-width: 768px) {
            order: 0;
            width: 50%;
            margin-left: 1.75em;

        }
    }

    &__full {
        display: flex;
        align-items: center;
    }

    &__total {
        color: #1D1D1B;
        margin-right: 0.75em;
        font-size: 1.375em;
        line-height: 1.2;
        @media (min-width: 768px) {
            margin-right: 1.625em;
            font-size: 1.94em;
            line-height: 1.4;
        }

    }

    &__rate {}

    &__label {
        color: rgba(29, 29, 27, 0.5);
        font-size: 0.8125em;
        line-height: 1.1;
        @media (min-width: 768px) {
            line-height: 1.4;
            font-size: 1.0625em;

        }

    }

}

.time__icon {
    max-width: 1.25em;
}
