.lkCoursInfo {
    margin: 1.75em 0;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5625em;
    }

    &__item {
        margin-bottom: 1.3em;

        @media (min-width: 768px) {
            width: calc(33.3% - 1.5625em);
            margin-bottom: 0;
        }
    }

    &__label {
        font-size: 0.9375em;
        color: rgba(29, 29, 27, 0.5);
        margin-bottom: 0.1875em;
        line-height: 1.16;
    }

    &__prop {
        font-size: 0.9375em;
    }
}
