.lkCoursTask {
    max-width: 63.6875em;
    margin-top: 4em;

    @media (min-width: 48em) {
        margin-top: 4.375em;
    }

    &__title {
        font-family: $second_font_family;
        font-weight: 400;
        font-size: 1.4em;
        margin: 0 0 1em;

        @media (min-width: 48em) {
            font-size: 1.875em;
            margin: 0 0 0.63em;
        }
    }

    &__info {
        background: #E9E9E9;
        padding: 1.1em 1em;
        margin-bottom: 1.5em;

        @media (min-width: 48em) {
            font-size: $size_xs;
            padding: 1.4em 1.15em;
        }
    }

    &__item {
        background: $color_withe;
        margin-bottom: 1.25em;
        border: 0.0625em solid #DBDBDB;
    }

    &__head {
        background: #E9E9E9;
        padding: 1.1em 1em;

        @media (min-width: 48em) {
            font-size: $size_xs;
            padding: 1.4em 1.15em;
            display: flex;
            justify-content: space-between;
        }

        .lkCoursTask__item_primary & {
            background: rgba(0, 110, 255, 0.19);
        }
    }

    &__question {
        display: flex;
        align-items: center;
    }

    &__status {
        margin-left: 2.3em;
        font-size: 0.65em;
        line-height: 1.46;
        font-weight: 500;
        padding: 0.5em 1em;
        background: #169F62;
        color: $color_withe;

        &.error {
            background: #FF2828;
        }

        &.empty {
            background: #CCCCCC;
            color: rgba(29, 29, 27, 0.5);
        }
    }

    &__counter {
        margin-top: 1em;
        font-size: 0.85em;
        color: rgba(29, 29, 27, 0.5);

        @media (min-width: 48em) {
            margin-left: 1em;
            margin-top: 0;
        }

        &_plate {
            padding: 0.5em 1em;
            background: #CCCCCC;
            color: rgba(29, 29, 27, 0.5);
            font-weight: 500;

            .lkCoursTask__item_primary & {
                font-weight: 400;
                color: $color_withe;
                background: #006EFF;
            }
        }
    }

    &__body {
        padding: 1.1em;
        @media (min-width: 48em) {
            padding: 1.375em 1.4375em;
        }
    }

    &__answer {}

    &__marker {
        margin-left: 3em;
        color: #169F62;
        position: relative;
        @media (min-width: 48em) {
            font-size: $size_xxxs;
        }

        i {
            font-size: 70%;
            font-weight: 600;
            margin-right: 0.6em;

            &.icon_close {
                font-size: 60%;
            }
        }
    }

    &__row {
        &_marks {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -0.5em;
                left: -1.1em;
                right: -1.1em;
                bottom: -0.5em;

                @media (min-width: 48em) {
                    left: -1.4375em;
                    right: -1.4em;
                }

            }

            &.success {
                &:before {
                    background: #D9EFE6;
                }

                input[type=radio] {
                    &:checked {
                        &:before {
                            background: #169F62;
                        }
                    }
                }
            }

            &.error {
                .lkCoursTask__marker {
                    color: #FF2828;
                }

                &:before {
                    content: '';
                    background: rgba(#FF2828, 0.2);
                }
            }

            input[type=radio] {
                &:checked {
                    &:before {
                        background: #FF2828;
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 1.125em;

            .form__check {
                position: relative;

                input[type=radio] {
                    &:checked {
                        &:before {
                            .success & {
                                background: #169F62;
                            }
                        }
                    }
                }
            }
        }
    }

    &__footer {
        padding: 1.1em;
        @media (min-width: 48em) {
            padding: 1.375em 1.4375em;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {}

        &_rezult {
            background: rgba(#F6F6F6, 0.7);
            min-height: 4em;
            display: flex;
            align-items: center;
        }
    }

    &__back {
        opacity: 0.5;
        transition: opacity 0.3s;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    &__next {}

    &__link {
        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__nav {
        text-align: right;
        margin-top: 2.13em;

        .btn {
            @media (max-width: 767px) {
                margin-top: 1em;
            }
        }

        &_test {
            margin-top: 1.0714em;
            @media (min-width: 768px) {
                margin-top: 2.5em;

            }
        }
    }

    &__end {
        margin-top: 2.25em;

        .btn {
            width: 100%;
        }
    }

    &__rezult {
        display: flex;
        flex-direction: column;
        background: $color_withe;
        padding: 1.1em;
        @media (min-width: 48em) {
            flex-direction: row;
            padding: 1.375em 1.4375em;
            align-items: center;
        }

        &Icon {
            font-size: 1.375em;
            color: #169F62;
            margin-bottom: 0.5em;

            @media (min-width: 48em) {
                margin-right: 1em;
                margin-bottom: 0;
            }
        }

        &Item {
            margin-bottom: 1em;

            @media (min-width: 48em) {
                display: flex;
                align-items: baseline;
                font-size: $size_xxs;
                margin-right: 2em;
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Label {
            margin-bottom: 0.3em;

            @media (min-width: 48em) {
                margin-bottom: 0;
            }
        }

        &Count {
            color: #169F62;
            @media (min-width: 48em) {
                margin-left: 0.3em;
            }
        }
    }

}
