.lkProgress {
    margin-bottom: 3em;

    &__row {
        margin-bottom: 1.88em;
        background: $color_withe;
        display: flex;
        align-items: flex-start;
        // min-height: 7.8em;
    }

    &__img {
        width: 7.5em;
        height: 7.8em;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: 1.3em 1.4em 1.3em 1.2em;
        flex-grow: 1;
        min-width: 0;
    }

    &__name {
        font-family: $second_font_family;
        font-size: 1.365em;
        margin-bottom: 0.8em;
    }

    &__bar {
        position: relative;
        background: rgba(0, 110, 255, 0.1);
        height: 0.55em;
        width: 100%;
        margin-bottom: 0.5em;

        span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }

    &__label {
        color: rgba(29, 29, 27, 0.5);
        @media (min-width: 768px) {
            font-size: $size_xxs;
        }
    }

}
