.lkSertificate {
    margin-bottom: 3.125em;

    &__row {
        background: $color_withe;
        margin-bottom: 1em;
        position: relative;
        padding: 1.1em;

        @media (min-width: 768px) {
            display: flex;
            margin-bottom: 1.88em;
            padding: 0;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 1.8125em;
                height: 1.8125em;
                background: #006EFF;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
                height: 3.5em;
                background: #F6F6F6;
            }
        }
    }

    &__content {

        @media (min-width: 768px) {
            min-width: 0;
            flex-grow: 1;
            padding: 2.3125em 4.6875em;

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 1.8125em;
                height: 1.8125em;
                background: #F6F6F6;
            }

            &:before {
                left: 0;
                width: 3.5em;
            }

            &:after {
                right: 15em;
            }
        }
    }

    &__success {
        color: rgba(29, 29, 27, 0.5);
        font-size: $size_xxxs;

        @media (min-width: 768px) {
            font-size: $size_xxs;
        }

        i {
            color: #3D3098;
        }
    }

    &__img {
        flex: none;
        margin: 1.8125em 0 0;
        position: relative;

        @media (min-width: 768px) {
            width: 12.5em;
            margin: -0.8125em 1.625em 1.0625em 0;
        }

        img {
            display: block;
            object-fit: contain;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -0.4375em;
            right: -0.5em;
            width: 85%;
            height: 80%;
            background: rgba(0, 110, 255, 0.1);
        }
    }

    &__after {
        @media (min-width: 768px) {
            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 1.8125em;
                width: 1.8125em;
                height: 1.8125em;
                background: #006EFF;
                right: 15em - 1.8125em;
            }

            &:before {}

            &:after {
                right: 15em;
                bottom: 1.8125em*2;
                background: #42299F;
            }
        }
    }

}
