.postPage {
    // padding: 0;

    @media (min-width: 768px) {
        padding: 0.5em 0 3.7em;
    }

    .pageTitle {
        margin: 0 0 0.55em;

        @media (min-width: 768px) {
            margin: 0 0 0.35em;
        }
    }

    &__body {
        @media (min-width: 768px) {
            padding-top: 0.9em;
            display: flex;
            align-items: flex-start;
        }
    }

    &__content {
        .textBox {
            h3 {
                @media (min-width: 768px) {
                    margin-bottom: 0.7em;
                }
            }

            p {

                @media (min-width: 768px) {
                    margin-bottom: 1.4em;
                }
            }
        }
    }

    &__date {
        color: rgba(29, 29, 27, 0.5);
        font-size: $size_xxxs;
        margin-bottom: 0.9em;

        @media (min-width: 768px) {
            margin-bottom: 2.9em;
        }
    }

    &__media {
        // width: 39em;
        height: 13.8em;
        margin: 0 -1.1em 2.1em;

        @media (min-width: 768px) {
            width: 39em;
            flex: none;
            margin: 0 0 0 9em;
            order: 2;
            height: auto;

        }
    }

    &__img {
        position: relative;
        width: 100%;
        height: 100%;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: $quat_size_sm;
            height: $quat_size_sm;
            z-index: 1;

            @media (min-width: 768px) {
                width: $quat_size;
                height: $quat_size;
            }
        }

        &:before {
            background: #FFFFFF;
            right: 0;
            bottom: 0;

            @media (min-width: 768px) {
                top: 0;
                bottom: auto;
            }
        }

        &:after {
            background: #3D3098;
            left: 0;
            bottom: 0;
        }

        img {
            display: block;
            object-fit: cover;
            object-position: top center;
            width: 100%;
            height: 100%;
            filter: grayscale(1);
        }
    }
}
