.presentationOrder {
    background: rgba(0, 110, 255, 0.04);
    padding: 3em 0 5.8em;
    margin: 3.6em 0 -5.5em;

    @media (min-width: 768px) {
        padding: 6.2em 0 5.8em;
        margin: 3.6em 0 -16em;
    }

    .container_center {
        @media (min-width: 768px) {
            max-width: 50.9em;
        }
    }

    .form {
        padding-right: 0.5em;

        @media (min-width: 768px) {
            padding-right: 3.9em;
        }

        &__privacy {
            @media (min-width: 768px) {
                max-width: 31em;
            }
        }
    }
}
