nav.lkNav
    ul
        each item in [{name: 'Мои данные', href: 'lk-data.html'}, {name: 'Личный кабинет', href: 'lk.html'}, {name: 'Мои курсы', href: 'lk-courses.html'}, {name: 'Мои сертификаты', href: ''}, {name: 'Настройки', href: 'lk-settings.html'}]
            -active = '';
            if item.name == lkPage
                -active = 'active';
            li
                a(href=item.href class=active)=item.name
