.teacherNav
    .teacherNav__list(data-collapse-wrapper="")
        .teacherNav__parent.open(data-collapse="")
            a(href="#") Основные данные
        ul.teacherNav__sub.open(data-collapse-body="")
            li.teacherNav__item
                a(href="#") Данные по курсу
    .teacherNav__list(data-collapse-wrapper="")
        .teacherNav__parent(data-collapse="")
            a(href="#") 1 Зачем нужно работать с мorem ipsum.
        ul.teacherNav__sub(data-collapse-body="")
            li.teacherNav__item
                a(href="#") 1.1 Знакомство с преподавателя...
            li.teacherNav__item
                a(href="#") 1.2 Подходы к критической ситу...
            li.teacherNav__item
                a(href="#") Формирование команд
            li.teacherNav__item
                a(href="#") Задание
    .teacherNav__list(data-collapse-wrapper="")
        .teacherNav__parent(data-collapse="")
            a(href="#") 1 Зачем нужно работать с мorem ipsum.
        ul.teacherNav__sub(data-collapse-body="")
            li.teacherNav__item
                a(href="#") 1.1 Знакомство с преподавателя...
            li.teacherNav__item
                a(href="#") 1.2 Подходы к критической ситу...
            li.teacherNav__item
                a(href="#") Формирование команд
            li.teacherNav__item
                a(href="#") Задание
